{
  "openapi": "3.0.1",
  "info": {
    "title": "GOMO API",
    "description": "GOMO API 문서 입니다.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://gomo.nurdykim.me/api"
    }
  ],
  "tags": [],
  "paths": {
    "/interests": {
      "get": {
        "tags": [
          "Interest"
        ],
        "summary": "관심사 목록 조회 API",
        "description": "사용자의 관심사 목록을 조회합니다.",
        "operationId": "list_interest",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListInterestResponse"
                },
                "examples": {
                  "list_interest": {
                    "value": "{\"interests\":[{\"id\":\"3bd1b3f7-d7c6-11ef-abb8-a7e09b2a499c\",\"registrantId\":\"a10581ce-d721-11ef-a8a5-2508e2a6438b\",\"name\":\"Backend\",\"logoUrl\":\"https://mini-cloud/backend-logo.png\",\"colorCode\":\"000000\",\"level\":10,\"score\":45,\"scoreThreshold\":60,\"totalScore\":445,\"majorInterest\":false},{\"id\":\"90a387a7-d7c5-11ef-b4d7-079c7dc41274\",\"registrantId\":\"a10581ce-d721-11ef-a8a5-2508e2a6438b\",\"name\":\"Spring\",\"logoUrl\":\"https://mini-cloud/spring-logo.png\",\"colorCode\":\"000000\",\"level\":5,\"score\":20,\"scoreThreshold\":40,\"totalScore\":220,\"majorInterest\":true},{\"id\":\"f8c51811-d7c5-11ef-82dc-4322ccc3e338\",\"registrantId\":\"a10581ce-d721-11ef-a8a5-2508e2a6438b\",\"name\":\"Java\",\"logoUrl\":\"https://mini-cloud/java-logo.png\",\"colorCode\":\"000000\",\"level\":6,\"score\":30,\"scoreThreshold\":40,\"totalScore\":270,\"majorInterest\":true}]}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Interest"
        ],
        "summary": "관심사 등록 API",
        "description": "사용자의 관심사를 등록합니다.",
        "operationId": "create_interest",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "request": {
                    "$ref": "#/components/schemas/CreateInterestRequest"
                  },
                  "logo": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "413": {
            "description": "413",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "create_interest/error": {
                    "value": "{\"timestamp\":\"2025-05-09T21:54:02.6857827\",\"path\":\"/interests\",\"httpStatus\":413,\"code\":\"IMA_ROO_001\",\"message\":\"Maximum upload size exceeded\"}"
                  }
                }
              }
            }
          },
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateInterestResponse"
                },
                "examples": {
                  "create_interest": {
                    "value": "{\"id\":\"0196b51c-23b8-7380-ace1-7bdd04f370e1\"}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/interests/majors": {
      "get": {
        "tags": [
          "Interest"
        ],
        "summary": "주요 관심사 목록 조회 API",
        "description": "사용자의 주요 관심사 목록을 조회합니다.",
        "operationId": "list_major_interest",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMajorInterestResponse"
                },
                "examples": {
                  "list_major_interest": {
                    "value": "{\"majorInterests\":[{\"id\":\"bec49c34-d7f5-11ef-8497-edeb32532766\",\"interestId\":\"90a387a7-d7c5-11ef-b4d7-079c7dc41274\",\"name\":\"Spring\",\"logoUrl\":\"https://mini-cloud/spring-logo.png\",\"level\":5,\"score\":20,\"scoreThreshold\":40,\"displayOrder\":2},{\"id\":\"172916b7-d7f6-11ef-b7fd-0bd5a273f618\",\"interestId\":\"f8c51811-d7c5-11ef-82dc-4322ccc3e338\",\"name\":\"Java\",\"logoUrl\":\"https://mini-cloud/java-logo.png\",\"level\":6,\"score\":30,\"scoreThreshold\":40,\"displayOrder\":1}]}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/interests/networks": {
      "get": {
        "tags": [
          "Interest"
        ],
        "summary": "관심사 그래프 조회 API",
        "description": "사용자의 관심사를 조회합니다.",
        "operationId": "interest_network",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InterestNetworkResponse"
                },
                "examples": {
                  "interest_network": {
                    "value": "{\"interests\":[{\"id\":\"3bd1b3f7-d7c6-11ef-abb8-a7e09b2a499c\",\"registrantId\":\"a10581ce-d721-11ef-a8a5-2508e2a6438b\",\"name\":\"Backend\",\"logoUrl\":\"https://mini-cloud/backend-logo.png\",\"colorCode\":\"000000\",\"level\":10,\"score\":45,\"scoreThreshold\":60,\"totalScore\":445,\"majorInterest\":false},{\"id\":\"90a387a7-d7c5-11ef-b4d7-079c7dc41274\",\"registrantId\":\"a10581ce-d721-11ef-a8a5-2508e2a6438b\",\"name\":\"Spring\",\"logoUrl\":\"https://mini-cloud/spring-logo.png\",\"colorCode\":\"000000\",\"level\":5,\"score\":20,\"scoreThreshold\":40,\"totalScore\":220,\"majorInterest\":true},{\"id\":\"f8c51811-d7c5-11ef-82dc-4322ccc3e338\",\"registrantId\":\"a10581ce-d721-11ef-a8a5-2508e2a6438b\",\"name\":\"Java\",\"logoUrl\":\"https://mini-cloud/java-logo.png\",\"colorCode\":\"000000\",\"level\":6,\"score\":30,\"scoreThreshold\":40,\"totalScore\":270,\"majorInterest\":true}],\"relations\":[{\"id\":\"80ac5a74-d7eb-11ef-a2bd-1f5e37eb89a8\",\"registrantId\":\"a10581ce-d721-11ef-a8a5-2508e2a6438b\",\"parentInterestId\":\"3bd1b3f7-d7c6-11ef-abb8-a7e09b2a499c\",\"childInterestId\":\"f8c51811-d7c5-11ef-82dc-4322ccc3e338\"}]}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/interests/{id}": {
      "get": {
        "tags": [
          "Interest"
        ],
        "summary": "관심사 조회 API",
        "description": "사용자의 관심사를 조회합니다.",
        "operationId": "read_interest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadInterestResponse"
                },
                "examples": {
                  "read_interest": {
                    "value": "{\"id\":\"3bd1b3f7-d7c6-11ef-abb8-a7e09b2a499c\",\"registrantId\":\"a10581ce-d721-11ef-a8a5-2508e2a6438b\",\"name\":\"Backend\",\"logoUrl\":\"https://mini-cloud/backend-logo.png\",\"colorCode\":\"000000\",\"level\":10,\"score\":45,\"scoreThreshold\":60,\"totalScore\":445,\"majorInterest\":false}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Interest"
        ],
        "summary": "관심사 수정 API",
        "description": "사용자의 관심사를 수정합니다.",
        "operationId": "update_interest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInterestRequest"
              },
              "examples": {
                "update_interest/error": {
                  "value": "{\"name\":\"forbidden{}\",\"colorCode\":\"#FF0000\"}"
                },
                "update_interest": {
                  "value": "{\"name\":\"name\",\"colorCode\":\"#FF0000\"}"
                }
              }
            }
          }
        },
        "responses": {
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "update_interest/error": {
                    "value": "{\"timestamp\":\"2025-05-09T21:54:05.1761554\",\"path\":\"/interests/3bd1b3f7-d7c6-11ef-abb8-a7e09b2a499c\",\"httpStatus\":422,\"code\":\"INT-NAM-003\",\"message\":\"Interest name must not contain forbidden characters\"}"
                  }
                }
              }
            }
          },
          "204": {
            "description": "204"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Interest"
        ],
        "summary": "관심사 삭제 API",
        "description": "사용자의 관심사를 삭제합니다.",
        "operationId": "delete_interest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "204"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/interests/majors/orders": {
      "put": {
        "tags": [
          "Interest"
        ],
        "summary": "주요 관심사 정렬 순서 변경 API",
        "description": "주요 관심사 목록의 정렬 순서를 변경합니다.",
        "operationId": "order_update_major_interest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderUpdateMajorInterestRequest"
              },
              "examples": {
                "order_update_major_interest": {
                  "value": "{\"updateOrderRequests\":[{\"id\":\"172916b7-d7f6-11ef-b7fd-0bd5a273f618\",\"displayOrder\":2},{\"id\":\"bec49c34-d7f5-11ef-8497-edeb32532766\",\"displayOrder\":1}]}"
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "204"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/interests/majors/{id}": {
      "delete": {
        "tags": [
          "Interest"
        ],
        "summary": "주요 관심사 삭제 API",
        "description": "사용자의 주요 관심사를 삭제합니다.",
        "operationId": "delete_major_interest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "204"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/interests/networks/relations": {
      "post": {
        "tags": [
          "Interest"
        ],
        "summary": "관심사 계층 구조 추가 API",
        "description": "두 가지 관심사 사이의 연결선을 추가합니다.",
        "operationId": "create_interest_relation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInterestRelationRequest"
              },
              "examples": {
                "create_interest_relation": {
                  "value": "{\"parentInterestId\":\"3bd1b3f7-d7c6-11ef-abb8-a7e09b2a499c\",\"childInterestId\":\"90a387a7-d7c5-11ef-b4d7-079c7dc41274\"}"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateInterestRelationResponse"
                },
                "examples": {
                  "create_interest_relation": {
                    "value": "{\"id\":\"0196b51c-263a-7c8d-aeae-b78a6d4b1662\"}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/interests/{id}/logos": {
      "put": {
        "tags": [
          "Interest"
        ],
        "summary": "관심사 로고 이미지 수정 API",
        "description": "사용자 관심사의 로고 이미지를 수정합니다.",
        "operationId": "update_interest_logo",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "updatedLogo": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "413": {
            "description": "413",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "update_interest_logo/error": {
                    "value": "{\"timestamp\":\"2025-05-09T21:54:05.6887652\",\"path\":\"/interests/3bd1b3f7-d7c6-11ef-abb8-a7e09b2a499c/logos\",\"httpStatus\":413,\"code\":\"IMA_ROO_001\",\"message\":\"Maximum upload size exceeded\"}"
                  }
                }
              }
            }
          },
          "204": {
            "description": "204"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/interests/{id}/majors": {
      "post": {
        "tags": [
          "Interest"
        ],
        "summary": "주요 관심사 등록 API",
        "description": "사용자의 주요 관심사를 등록합니다.",
        "operationId": "create_major_interest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "관심사 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "create_major_interest/error": {
                    "value": "{\"timestamp\":\"2025-05-09T21:54:03.507953\",\"path\":\"/interests/f8c51811-d7c5-11ef-82dc-4322ccc3e338/majors\",\"httpStatus\":409,\"code\":\"MAJ-ROO-003\",\"message\":\"Already registered as a major interest\"}"
                  }
                }
              }
            }
          },
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMajorInterestResponse"
                },
                "examples": {
                  "create_major_interest": {
                    "value": "{\r\n  \"id\" : \"0196b51c-273d-7b32-84fa-b680d64c6d96\"\r\n}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/interests/networks/relations/{id}": {
      "delete": {
        "tags": [
          "Interest"
        ],
        "summary": "관심사 계층 구조 삭제 API",
        "description": "두 가지 관심사 사이의 연결선을 삭제합니다.",
        "operationId": "delete_interest_relation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "204"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/members": {
      "get": {
        "tags": [
          "Member"
        ],
        "summary": "사용자 프로필 조회 API",
        "description": "사용자의 프로필 정보를 조회합니다.",
        "operationId": "read_member",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadMemberResponse"
                },
                "examples": {
                  "read_member": {
                    "value": "{\"id\":\"a10581ce-d721-11ef-a8a5-2508e2a6438b\",\"email\":\"gomotest@naver.com\",\"handle\":\"@GOMOTEST\",\"name\":\"gomotest\",\"motto\":\"gomotest fighting!\",\"availablePoints\":1660,\"profileImageUrl\":\"https://mini-cloud/gomotest-profile\",\"loginProvider\":\"EMAIL\",\"roleType\":\"ROLE_MEMBER\",\"subscriptionPlan\":\"FREE\",\"activateStatus\":\"ACTIVE\",\"signUpDateTime\":\"2025-05-09T21:53:47\"}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Member"
        ],
        "summary": "사용자 개인 정보 변경 API",
        "description": "사용자 개인 정보를 변경합니다.",
        "operationId": "update_member_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMemberRequest"
              },
              "examples": {
                "update_member_info/error": {
                  "value": "{\"name\":\"GOMO4\",\"motto\":\"~!@#$\"}"
                },
                "update_member_info": {
                  "value": "{\"name\":\"GOMO4\",\"motto\":\"GOMOTEST..\"}"
                }
              }
            }
          }
        },
        "responses": {
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "update_member_info/error": {
                    "value": "{\"timestamp\":\"2025-05-09T21:54:17.896843\",\"path\":\"/members\",\"httpStatus\":422,\"code\":\"MEM-MOT-002\",\"message\":\"Motto must not contain forbidden characters\"}"
                  }
                }
              }
            }
          },
          "204": {
            "description": "204"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Member"
        ],
        "summary": "회원가입 API",
        "description": "사용자 회원가입을 처리합니다.",
        "operationId": "sign_up_member",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMemberRequest"
              },
              "examples": {
                "sign_up_member/error": {
                  "value": "{\"email\":\"gomotest3@naver.com\",\"password\":\"gomo123\",\"handle\":\"@GOMOTEST3\",\"name\":\"gomotest3\",\"motto\":\"gomotest fighting!\"}"
                },
                "sign_up_member": {
                  "value": "{\"email\":\"gomotest3@naver.com\",\"password\":\"Gomotest1234@\",\"handle\":\"@GOMOTEST3\",\"name\":\"gomotest3\",\"motto\":\"gomotest fighting!\"}"
                }
              }
            }
          }
        },
        "responses": {
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "sign_up_member/error": {
                    "value": "{\"timestamp\":\"2025-05-09T21:54:16.4284632\",\"path\":\"/members\",\"httpStatus\":422,\"code\":\"MEM-PAS-002\",\"message\":\"Password must be at least 8 characters\"}"
                  }
                }
              }
            }
          },
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMemberResponse"
                },
                "examples": {
                  "sign_up_member": {
                    "value": "{\"id\":\"0196b51c-5b07-74f0-86df-c9e1ad91833d\"}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/members/handles": {
      "put": {
        "tags": [
          "Member"
        ],
        "summary": "핸들 변경 API",
        "description": "사용자 핸들을 변경합니다.",
        "operationId": "update_handle",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateHandleRequest"
              },
              "examples": {
                "update_handle/error": {
                  "value": "{\"handle\":\"@G\"}"
                },
                "update_handle": {
                  "value": "{\"handle\":\"@UPDATE\"}"
                }
              }
            }
          }
        },
        "responses": {
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "update_handle/error": {
                    "value": "{\"timestamp\":\"2025-05-09T21:54:17.2736533\",\"path\":\"/members/handles\",\"httpStatus\":422,\"code\":\"MEM-HAN-002\",\"message\":\"Handle must be at least 3 characters\"}"
                  }
                }
              }
            }
          },
          "204": {
            "description": "204"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/members/login": {
      "post": {
        "tags": [
          "Member"
        ],
        "summary": "로그인 API",
        "description": "사용자 로그인을 처리합니다.",
        "operationId": "login_member",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginMemberRequest"
              },
              "examples": {
                "login_member/error": {
                  "value": "{\"email\":\"test123@google.com\",\"password\":\"Gomotest1234@\"}"
                },
                "login_member": {
                  "value": "{\"email\":\"gomotest@naver.com\",\"password\":\"Gomotest1234@\"}"
                }
              }
            }
          }
        },
        "responses": {
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "login_member/error": {
                    "value": "{\"timestamp\":\"2025-05-09T21:54:13.6637666\",\"path\":\"/members/login\",\"httpStatus\":404,\"code\":\"MEM-ROO-001\",\"message\":\"Member not found\"}"
                  }
                }
              }
            }
          },
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginMemberResponse"
                },
                "examples": {
                  "login_member": {
                    "value": "{\"id\":\"a10581ce-d721-11ef-a8a5-2508e2a6438b\",\"token\":\"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhMTA1ODFjZS1kNzIxLTExZWYtYThhNS0yNTA4ZTJhNjQzOGIiLCJpYXQiOjE3NDY3OTUyNTMsImV4cCI6MTc0Njc5NjE1M30.aRKM4CfArGSN9MRYsO7c3klt1U5aICjn33nbKWQPSJs\"}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/members/logout": {
      "get": {
        "tags": [
          "Member"
        ],
        "summary": "로그아웃 API",
        "description": "로그아웃을 수행합니다.",
        "operationId": "logout_member",
        "responses": {
          "200": {
            "description": "200"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/members/passwords": {
      "put": {
        "tags": [
          "Member"
        ],
        "summary": "비밀번호 변경 API",
        "description": "사용자 비밀번호를 변경합니다.",
        "operationId": "update_password",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePasswordRequest"
              },
              "examples": {
                "update_password/error": {
                  "value": "{\"originPassword\":\"Gomotest1234@\",\"updatedPassword\":\"! @ ~ # *\"}"
                },
                "update_password": {
                  "value": "{\"originPassword\":\"Gomotest1234@\",\"updatedPassword\":\"Gomotest1234!\"}"
                }
              }
            }
          }
        },
        "responses": {
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "update_password/error": {
                    "value": "{\"timestamp\":\"2025-05-09T21:54:18.444999\",\"path\":\"/members/passwords\",\"httpStatus\":422,\"code\":\"MEM-PAS-004\",\"message\":\"Password must not contain forbidden characters\"}"
                  }
                }
              }
            }
          },
          "204": {
            "description": "204"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/members/refresh": {
      "post": {
        "tags": [
          "Member"
        ],
        "summary": "Access 토큰 재발급 API",
        "description": "Access Token 이 만료되었을 때, Refresh Token을 이용하여 재발급합니다.",
        "operationId": "refresh_access_token",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                },
                "examples": {
                  "refresh_access_token": {
                    "value": "{\"id\":\"a10581ce-d721-11ef-a8a5-2508e2a6438b\",\"token\":\"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhMTA1ODFjZS1kNzIxLTExZWYtYThhNS0yNTA4ZTJhNjQzOGIiLCJpYXQiOjE3NDY3OTUyNTYsImV4cCI6MTc0Njc5NjE1Nn0.SJwTCzwOi31izRLynLy_ONbyGkhWKx-EDLcIFuYCfbo\"}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/members/handles/duplicate": {
      "get": {
        "tags": [
          "Member"
        ],
        "summary": "핸들 중복 확인 API",
        "description": "핸들 중복 및 유효성을 체크하고 상태 코드를 반환합니다.",
        "operationId": "check_duplicated_handle",
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "description": "핸들",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/members-handles-duplicate-1426920435"
                },
                "examples": {
                  "check_duplicated_handle/error": {
                    "value": "{\"timestamp\":\"2025-05-09T21:54:07.5559287\",\"path\":\"/members/handles/duplicate\",\"httpStatus\":422,\"code\":\"MEM-HAN-002\",\"message\":\"Handle must be at least 3 characters\"}"
                  }
                }
              }
            }
          },
          "200": {
            "description": "200"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/members/images/banners": {
      "put": {
        "tags": [
          "Member"
        ],
        "summary": "프로필 배너 수정 API",
        "description": "사용자의 프로필 배너를 수정합니다.",
        "operationId": "update_profile_banner",
        "responses": {
          "413": {
            "description": "413",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "update_profile_banner/error": {
                    "value": "{\"timestamp\":\"2025-05-09T21:54:19.3171542\",\"path\":\"/members/images/banners\",\"httpStatus\":413,\"code\":\"IMA_ROO_001\",\"message\":\"Maximum upload size exceeded\"}"
                  }
                }
              }
            }
          },
          "204": {
            "description": "204"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Member"
        ],
        "summary": "회원 프로필배너 삭제 API",
        "description": "회원 프로필 배너를 삭제 합니다.",
        "operationId": "delete_member_banner",
        "responses": {
          "200": {
            "description": "200"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/members/images/profiles": {
      "put": {
        "tags": [
          "Member"
        ],
        "summary": "프로필 이미지 수정 API",
        "description": "사용자의 프로필 이미지를 수정합니다.",
        "operationId": "update_profile_image",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "profileImage": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "413": {
            "description": "413",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "update_profile_image/error": {
                    "value": "{\"timestamp\":\"2025-05-09T21:54:19.8930501\",\"path\":\"/members/images/profiles\",\"httpStatus\":413,\"code\":\"IMA_ROO_001\",\"message\":\"Maximum upload size exceeded\"}"
                  }
                }
              }
            }
          },
          "204": {
            "description": "204"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Member"
        ],
        "summary": "회원 탈퇴 API",
        "description": "회원 탈퇴합니다.",
        "operationId": "delete_member",
        "responses": {
          "200": {
            "description": "200"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/members/properties/quests": {
      "get": {
        "tags": [
          "Member"
        ],
        "summary": "퀘스트 설정값 조회 API",
        "description": "사용자의 퀘스트 설정값을 조회합니다.",
        "operationId": "read_quest_property",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadQuestPropertyResponse"
                },
                "examples": {
                  "read_quest_property": {
                    "value": "{\"dailyThreshold\":7,\"weeklyThreshold\":7,\"monthlyThreshold\":7}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Member"
        ],
        "summary": "퀘스트 설정값 수정 API",
        "description": "사용자의 퀘스트 설정값을 수정합니다.",
        "operationId": "update_quest_property",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateQuestPropertyRequest"
              },
              "examples": {
                "update_quest_property/error": {
                  "value": "{\"dailyThreshold\":-1,\"weeklyThreshold\":5,\"monthlyThreshold\":5}"
                },
                "update_quest_property": {
                  "value": "{\"dailyThreshold\":1,\"weeklyThreshold\":1,\"monthlyThreshold\":1}"
                }
              }
            }
          }
        },
        "responses": {
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "update_quest_property/error": {
                    "value": "{\"timestamp\":\"2025-05-09T21:54:20.3266197\",\"path\":\"/members/properties/quests\",\"httpStatus\":422,\"code\":\"MEM-QUE-001\",\"message\":\"Threshold must meet the minimum value\"}"
                  }
                }
              }
            }
          },
          "204": {
            "description": "204"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/members/emails/codes/auth": {
      "get": {
        "tags": [
          "Member"
        ],
        "summary": "이메일 인증 코드 검증 API",
        "description": "이메일 인증코드를 검증합니다.",
        "operationId": "verify_email_auth_code",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "이메일",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "description": "인증 코드",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyEmailAuthCodeResponse"
                },
                "examples": {
                  "verify_email_auth_code": {
                    "value": "{\"email\":\"test@gmail.com\"}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Member"
        ],
        "summary": "이메일 인증 코드 생성 API",
        "description": "이메일 중복 및 유효성을 체크하고 인증 코드를 생성합니다.",
        "operationId": "create_email_auth_code",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEmailAuthCodeRequest"
              },
              "examples": {
                "create_email_auth_code/error": {
                  "value": "{\"email\":\"gomotest@naver.com\"}"
                },
                "create_email_auth_code": {
                  "value": "{\"email\":\"test@test.com\"}"
                }
              }
            }
          }
        },
        "responses": {
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "create_email_auth_code/error": {
                    "value": "{\"timestamp\":\"2025-05-09T21:54:12.6677188\",\"path\":\"/members/emails/codes/auth\",\"httpStatus\":409,\"code\":\"MEM-EMA-005\",\"message\":\"Email already exists\"}"
                  }
                }
              }
            }
          },
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateEmailAuthCodeResponse"
                },
                "examples": {
                  "create_email_auth_code": {
                    "value": "{\"email\":\"test@test.com\"}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/oauth/login/google": {
      "get": {
        "tags": [
          "Member"
        ],
        "summary": "OAUTH LOGIN API",
        "description": "OAuth 로그인 API 입니다.",
        "operationId": "oauth_login",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "description": "Google에서 발급한 Code",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/oauth-login-google-855261794"
                },
                "examples": {
                  "oauth_login": {
                    "value": "{\"id\":\"0196b51c-5763-7a33-bba6-8da7a1a9de11\",\"token\":\"access-token\"}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/points": {
      "get": {
        "tags": [
          "Point"
        ],
        "summary": "포인트 목록 조회 API",
        "description": "사용자의 포인트 획득 및 사용 목록을 조회합니다.",
        "operationId": "list_point",
        "parameters": [
          {
            "name": "size",
            "in": "query",
            "description": "페이지 크기",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastElementId",
            "in": "query",
            "description": "이전 페이지의 마지막 포인트 아이디",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPointResponse"
                },
                "examples": {
                  "list_point": {
                    "value": "{\"points\":[{\"id\":\"ead8cd48-d735-11ef-b568-8745309ead01\",\"sourceType\":\"QUEST\",\"transactionType\":\"GAIN\",\"amount\":1500,\"description\":\"월간 퀘스트 완료 포인트 획득\",\"transactionDateTime\":\"2025-01-22T22:47:25.429471\"},{\"id\":\"c9f68773-d735-11ef-9d10-57f4db82cd9c\",\"sourceType\":\"QUEST\",\"transactionType\":\"GAIN\",\"amount\":150,\"description\":\"주간 퀘스트 완료 포인트 획득\",\"transactionDateTime\":\"2025-01-21T22:47:25.429471\"},{\"id\":\"7dbbdedb-d734-11ef-9c48-394e79c4a67c\",\"sourceType\":\"QUEST\",\"transactionType\":\"GAIN\",\"amount\":10,\"description\":\"일일 퀘스트 완료 포인트 획득\",\"transactionDateTime\":\"2025-01-20T22:47:25.429471\"}],\"lastElementId\":\"7dbbdedb-d734-11ef-9c48-394e79c4a67c\"}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/points/balances": {
      "get": {
        "tags": [
          "Point"
        ],
        "summary": "포인트 잔고 조회 API",
        "description": "사용자의 포인트 잔고를 조회합니다.",
        "operationId": "read_balance",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadBalanceResponse"
                },
                "examples": {
                  "read_balance": {
                    "value": "{\"amount\":1660}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/quests/assigns": {
      "get": {
        "tags": [
          "Quest"
        ],
        "summary": "할당 퀘스트 목록 조회 API",
        "description": "사용자가 할당 퀘스트 목록을 조회합니다.",
        "operationId": "list_assign_quest",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAssignQuestResponse"
                },
                "examples": {
                  "list_assign_quest": {
                    "value": "{\"dailyQuests\":[{\"id\":\"0194cbd7-8689-74ec-bd46-dc855f493c3b\",\"subjectId\":\"f8c51811-d7c5-11ef-82dc-4322ccc3e338\",\"questType\":\"DAILY\",\"point\":10,\"score\":2,\"subjectName\":\"Java\",\"content\":\"daily participating quest\",\"proof\":\"no_proof\",\"startDateTime\":\"2025-05-09T21:53:47\",\"displayOrder\":1,\"completed\":false,\"confirmed\":false}],\"weeklyQuests\":[{\"id\":\"0194cbda-6135-79fc-b659-ebaac3684761\",\"subjectId\":\"f8c51811-d7c5-11ef-82dc-4322ccc3e338\",\"questType\":\"WEEKLY\",\"point\":150,\"score\":20,\"subjectName\":\"Java\",\"content\":\"weekly participating quest\",\"proof\":\"no_proof\",\"startDateTime\":\"2025-05-09T21:53:47\",\"displayOrder\":1,\"completed\":false,\"confirmed\":false}],\"monthlyQuests\":[{\"id\":\"0194cbeb-345e-74a6-9199-07bdb402ea36\",\"subjectId\":\"f8c51811-d7c5-11ef-82dc-4322ccc3e338\",\"questType\":\"MONTHLY\",\"point\":1500,\"score\":100,\"subjectName\":\"Java\",\"content\":\"monthly participating quest\",\"proof\":\"no_proof\",\"startDateTime\":\"2025-05-09T21:53:47\",\"displayOrder\":1,\"completed\":false,\"confirmed\":false}]}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Quest"
        ],
        "summary": "할당 퀘스트 생성 API",
        "description": "사용자가 할당 퀘스트를 생성합니다.",
        "operationId": "create_assign_quest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAssignQuestRequest"
              },
              "examples": {
                "create_assign_quest/error": {
                  "value": "{\"subjectId\":\"64f6ca73-8ed0-4f32-afb5-109db02ff673\",\"subjectName\":\"subject name\",\"questType\":\"MONTHLY\",\"content\":\"quest content\"}"
                },
                "create_assign_quest": {
                  "value": "{\"subjectId\":\"d74761fb-15b4-41af-a0ce-e41033b24ddd\",\"subjectName\":\"subject name\",\"questType\":\"DAILY\",\"content\":\"quest content\"}"
                }
              }
            }
          }
        },
        "responses": {
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "create_assign_quest/error": {
                    "value": "{\"timestamp\":\"2025-05-09T21:54:23.9909989\",\"path\":\"/quests/assigns\",\"httpStatus\":422,\"code\":\"QUE-ROO-001\",\"message\":\"Quest quota exceeded\"}"
                  }
                }
              }
            }
          },
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAssignQuestResponse"
                },
                "examples": {
                  "create_assign_quest": {
                    "value": "{\"id\":\"0196b51c-788f-7679-be9d-358af59d6541\"}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/quests/repeats": {
      "get": {
        "tags": [
          "Quest"
        ],
        "summary": "반복 퀘스트 목록 조회 API",
        "description": "사용자가 반복 퀘스트 목록을 조회합니다.",
        "operationId": "list_repeat_quest",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRepeatQuestResponse"
                },
                "examples": {
                  "list_repeat_quest": {
                    "value": "{\"dailyQuests\":[{\"id\":\"3892ced2-d816-11ef-a05f-25caca7d3e8c\",\"subjectId\":\"f8c51811-d7c5-11ef-82dc-4322ccc3e338\",\"questType\":\"DAILY\",\"point\":10,\"score\":2,\"subjectName\":\"Java\",\"content\":\"Java 공식 문서 학습하고 TIL 작성하기\",\"displayOrder\":1},{\"id\":\"a49f544f-d816-11ef-969c-6f84f91c1c7d\",\"subjectId\":\"90a387a7-d7c5-11ef-b4d7-079c7dc41274\",\"questType\":\"DAILY\",\"point\":10,\"score\":2,\"subjectName\":\"Spring\",\"content\":\"Spring 공식 문서 학습하고 TIL 작성하기\",\"displayOrder\":2}],\"weeklyQuests\":[],\"monthlyQuests\":[]}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Quest"
        ],
        "summary": "반복 퀘스트 생성 API",
        "description": "사용자가 반복 퀘스트를 생성합니다.",
        "operationId": "create_repeat_quest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRepeatQuestRequest"
              },
              "examples": {
                "create_repeat_quest/error": {
                  "value": "{\"subjectId\":\"3bd1b3f7-d7c6-11ef-abb8-a7e09b2a499c\",\"subjectName\":\"subject name\",\"questType\":\"MONTHLY\",\"content\":\"quest content\"}"
                },
                "create_repeat_quest": {
                  "value": "{\"subjectId\":\"3bd1b3f7-d7c6-11ef-abb8-a7e09b2a499c\",\"subjectName\":\"subject name\",\"questType\":\"DAILY\",\"content\":\"quest content\"}"
                }
              }
            }
          }
        },
        "responses": {
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "create_repeat_quest/error": {
                    "value": "{\"timestamp\":\"2025-05-09T21:54:24.4238447\",\"path\":\"/quests/repeats\",\"httpStatus\":422,\"code\":\"QUE-ROO-001\",\"message\":\"Quest quota exceeded\"}"
                  }
                }
              }
            }
          },
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateRepeatQuestResponse"
                },
                "examples": {
                  "create_repeat_quest": {
                    "value": "{\"id\":\"0196b51c-7a41-7fb4-b72a-1827ccfffae1\"}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/quests/assigns/calendars": {
      "get": {
        "tags": [
          "Quest"
        ],
        "summary": "할당 퀘스트 캘린더 조회 API",
        "description": "사용자가 한 달간 수행한, 혹은 수행 중인 퀘스트 목록을 조회합니다.",
        "operationId": "calendar_assign_quest",
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "description": "년",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "month",
            "in": "query",
            "description": "월",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarListAssignQuestResponse"
                },
                "examples": {
                  "calendar_assign_quest": {
                    "value": "{\"assignQuests\":[{\"id\":\"0194cbd7-8689-74ec-bd46-dc855f493c3b\",\"questType\":\"DAILY\",\"subjectName\":\"Java\",\"content\":\"daily participating quest\",\"proof\":\"no_proof\",\"completedDateTime\":null,\"completed\":false},{\"id\":\"0194cbda-6135-79fc-b659-ebaac3684761\",\"questType\":\"WEEKLY\",\"subjectName\":\"Java\",\"content\":\"weekly participating quest\",\"proof\":\"no_proof\",\"completedDateTime\":null,\"completed\":false},{\"id\":\"0194cbeb-345e-74a6-9199-07bdb402ea36\",\"questType\":\"MONTHLY\",\"subjectName\":\"Java\",\"content\":\"monthly participating quest\",\"proof\":\"no_proof\",\"completedDateTime\":null,\"completed\":false}]}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/quests/assigns/orders": {
      "put": {
        "tags": [
          "Quest"
        ],
        "summary": "할당 퀘스트 정렬 순서 변경 API",
        "description": "할당 퀘스트 목록의 정렬 순서를 변경합니다.",
        "operationId": "order_update_assign_quest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderUpdateAssignQuestRequest"
              },
              "examples": {
                "order_update_assign_quest": {
                  "value": "{\"questType\":\"DAILY\",\"updateOrderRequests\":[{\"id\":\"0194cbd7-8689-74ec-bd46-dc855f493c3b\",\"displayOrder\":1}]}"
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "204"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/quests/assigns/{id}": {
      "put": {
        "tags": [
          "Quest"
        ],
        "summary": "할당 퀘스트 수정 API",
        "description": "사용자가 할당 퀘스트를 수정합니다.",
        "operationId": "update_assign_quest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAssignQuestRequest"
              },
              "examples": {
                "update_assign_quest/error": {
                  "value": "{\"subjectId\":\"8cc5c6b9-1f81-455b-86c3-2d1b602f9f68\",\"subjectName\":\"subject name\",\"questType\":\"DAILY\",\"content\":\"\"}"
                },
                "update_assign_quest": {
                  "value": "{\"subjectId\":\"61257254-00d1-4ca8-bb4a-255159c3fdcb\",\"subjectName\":\"updated subject name\",\"questType\":\"DAILY\",\"content\":\"updated quest content\"}"
                }
              }
            }
          }
        },
        "responses": {
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "update_assign_quest/error": {
                    "value": "{\"timestamp\":\"2025-05-09T21:54:25.8385155\",\"path\":\"/quests/assigns/1450177f-d7ff-11ef-830c-233264c36b07\",\"httpStatus\":422,\"code\":\"QUE-CON-001\",\"message\":\"Quest content must not be blank\"}"
                  }
                }
              }
            }
          },
          "204": {
            "description": "204"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Quest"
        ],
        "summary": "할당 퀘스트 삭제 API",
        "description": "사용자가 할당 퀘스트를 삭제합니다.",
        "operationId": "delete_assign_quest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "204"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/quests/repeats/orders": {
      "put": {
        "tags": [
          "Quest"
        ],
        "summary": "반복 퀘스트 정렬 순서 변경 API",
        "description": "반복 퀘스트 목록의 정렬 순서를 변경합니다.",
        "operationId": "order_update_repeat_quest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderUpdateRepeatQuestRequest"
              },
              "examples": {
                "order_update_repeat_quest": {
                  "value": "{\"questType\":\"DAILY\",\"updateOrderRequests\":[{\"id\":\"3892ced2-d816-11ef-a05f-25caca7d3e8c\",\"displayOrder\":2},{\"id\":\"a49f544f-d816-11ef-969c-6f84f91c1c7d\",\"displayOrder\":1}]}"
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "204"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/quests/repeats/{id}": {
      "put": {
        "tags": [
          "Quest"
        ],
        "summary": "반복 퀘스트 수정 API",
        "description": "사용자가 반복 퀘스트를 수정합니다.",
        "operationId": "update_repeat_quest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRepeatQuestRequest"
              },
              "examples": {
                "update_repeat_quest/error": {
                  "value": "{\"subjectId\":\"c2763528-baa6-4315-b5e1-e4ef58ab0597\",\"subjectName\":\"subject name\",\"questType\":\"DAILY\",\"content\":\" \"}"
                },
                "update_repeat_quest": {
                  "value": "{\"subjectId\":\"02d0bb78-887a-4718-aa12-ecece5a466f8\",\"subjectName\":\"subject name\",\"questType\":\"DAILY\",\"content\":\"quest content\"}"
                }
              }
            }
          }
        },
        "responses": {
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "update_repeat_quest/error": {
                    "value": "{\"timestamp\":\"2025-05-09T21:54:26.1044054\",\"path\":\"/quests/repeats/3892ced2-d816-11ef-a05f-25caca7d3e8c\",\"httpStatus\":422,\"code\":\"QUE-CON-001\",\"message\":\"Quest content must not be blank\"}"
                  }
                }
              }
            }
          },
          "204": {
            "description": "204"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Quest"
        ],
        "summary": "반복 퀘스트 삭제 API",
        "description": "사용자가 반복 퀘스트를 삭제합니다.",
        "operationId": "delete_repeat_quest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "204"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/quests/assigns/{id}/complete": {
      "put": {
        "tags": [
          "Quest"
        ],
        "summary": "할당 퀘스트 완료 API",
        "description": "사용자가 할당 퀘스트를 완료합니다.",
        "operationId": "complete_assign_quest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompleteAssignQuestRequest"
              },
              "examples": {
                "complete_assign_quest": {
                  "value": "{\"proof\":\"https://proof\"}"
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "204"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/quests/assigns/{id}/confirm": {
      "put": {
        "tags": [
          "Quest"
        ],
        "summary": "할당 퀘스트 확정 API",
        "description": "사용자가 할당 퀘스트를 확정합니다.",
        "operationId": "confirm_assign_quest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "204"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/streaks": {
      "get": {
        "tags": [
          "Streak"
        ],
        "summary": "스트릭 목록 조회 API",
        "description": "사용자의 스트릭 목록을 조회합니다.",
        "operationId": "list_streak",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "시작 날짜",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "끝 날짜",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListStreakResponse"
                },
                "examples": {
                  "list_streak": {
                    "value": "{\"dailyStreaks\":[{\"id\":\"203ece27-d868-11ef-824e-338baee5b682\",\"streakType\":\"DAILY\",\"filledDate\":\"2025-01-18\",\"completedQuestCount\":1},{\"id\":\"fa1cf1b5-e3d3-11ef-9c0c-5f1ac1d71b42\",\"streakType\":\"DAILY\",\"filledDate\":\"2025-02-06\",\"completedQuestCount\":1}],\"weeklyStreaks\":[{\"id\":\"febad463-d868-11ef-826f-395aa04e34d3\",\"streakType\":\"WEEKLY\",\"filledDate\":\"2025-01-20\",\"completedQuestCount\":1}],\"monthlyStreaks\":[]}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/surveys": {
      "get": {
        "tags": [
          "Survey"
        ],
        "summary": "설문 목록 조회 API",
        "description": "사용자 정보를 수집하는 설문 목록을 조회합니다.",
        "operationId": "list_survey",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSurveyQuestionResponse"
                },
                "examples": {
                  "list_survey": {
                    "value": "{\"surveyQuestions\":[{\"id\":\"3030e03f-d874-11ef-8c53-0f7e2e2f64c0\",\"questionSelectType\":\"SINGLE\",\"content\":\"직업이 무엇인가요?\",\"surveyItems\":[{\"id\":\"a115056c-d874-11ef-8a6a-454f4733cb7c\",\"content\":\"학생\",\"displayOrder\":1},{\"id\":\"b94a39ed-d874-11ef-b96f-c12f103e5c2c\",\"content\":\"기타\",\"displayOrder\":2}],\"required\":true}]}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Survey"
        ],
        "summary": "설문 답변 등록 API",
        "description": "사용자의 설문 답변을 등록합니다.",
        "operationId": "create_survey_answer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSurveyResultRequest"
              },
              "examples": {
                "create_survey_answer": {
                  "value": "{\"surveyResult\":[{\"surveyQuestionId\":\"3030e03f-d874-11ef-8c53-0f7e2e2f64c0\",\"surveyItemId\":\"a115056c-d874-11ef-8a6a-454f4733cb7c\",\"surveyItemContent\":\"학생\",\"customAnswer\":null},{\"surveyQuestionId\":\"3030e03f-d874-11ef-8c53-0f7e2e2f64c0\",\"surveyItemId\":\"b94a39ed-d874-11ef-b96f-c12f103e5c2c\",\"surveyItemContent\":\"기타\",\"customAnswer\":\"custom answer\"}]}"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "title": "ErrorResponse",
        "required": [
          "code",
          "httpStatus",
          "message",
          "path",
          "timestamp"
        ],
        "type": "object",
        "properties": {
          "path": {
            "type": "string",
            "description": "요청 url"
          },
          "code": {
            "type": "string",
            "description": "에러 코드"
          },
          "httpStatus": {
            "type": "number",
            "description": "http 응답 상태 코드"
          },
          "message": {
            "type": "string",
            "description": "에러 메시지"
          },
          "timestamp": {
            "type": "string",
            "description": "에러 발생 시간"
          }
        }
      },
      "CreateInterestRequest": {
        "title": "CreateInterestRequest",
        "required": [
          "name",
          "colorCode"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "관심사 이름"
          },
          "colorCode": {
            "type": "string",
            "description": "관심사 색상"
          }
        },
        "example": {
          "name": "자바",
          "colorCode": "#0000FF"
        }
      },
      "UpdateQuestPropertyRequest": {
        "title": "UpdateQuestPropertyRequest",
        "required": [
          "dailyThreshold",
          "monthlyThreshold",
          "weeklyThreshold"
        ],
        "type": "object",
        "properties": {
          "monthlyThreshold": {
            "type": "number",
            "description": "월간 퀘스트 생성 제한 수치"
          },
          "dailyThreshold": {
            "type": "number",
            "description": "일일 퀘스트 생성 제한 수치"
          },
          "weeklyThreshold": {
            "type": "number",
            "description": "주간 퀘스트 생성 제한 수치"
          }
        }
      },
      "CompleteAssignQuestRequest": {
        "title": "CompleteAssignQuestRequest",
        "required": [
          "proof"
        ],
        "type": "object",
        "properties": {
          "proof": {
            "type": "string",
            "description": "퀘스트 증명"
          }
        }
      },
      "ListStreakResponse": {
        "title": "ListStreakResponse",
        "required": [
          "dailyStreaks",
          "monthlyStreaks",
          "weeklyStreaks"
        ],
        "type": "object",
        "properties": {
          "weeklyStreaks": {
            "type": "array",
            "description": "주간 스트릭 목록",
            "items": {
              "required": [
                "completedQuestCount",
                "filledDate",
                "id",
                "streakType"
              ],
              "type": "object",
              "properties": {
                "streakType": {
                  "type": "string",
                  "description": "스트릭 타입"
                },
                "completedQuestCount": {
                  "type": "number",
                  "description": "완료한 퀘스트 개수"
                },
                "id": {
                  "type": "string",
                  "description": "스트릭 아이디"
                },
                "filledDate": {
                  "type": "string",
                  "description": "스트릭 생성 날짜"
                }
              }
            }
          },
          "dailyStreaks": {
            "type": "array",
            "description": "일간 스트릭 목록",
            "items": {
              "required": [
                "completedQuestCount",
                "filledDate",
                "id",
                "streakType"
              ],
              "type": "object",
              "properties": {
                "streakType": {
                  "type": "string",
                  "description": "스트릭 타입"
                },
                "completedQuestCount": {
                  "type": "number",
                  "description": "완료한 퀘스트 개수"
                },
                "id": {
                  "type": "string",
                  "description": "스트릭 아이디"
                },
                "filledDate": {
                  "type": "string",
                  "description": "스트릭 생성 날짜"
                }
              }
            }
          },
          "monthlyStreaks": {
            "type": "array",
            "description": "월간 스트릭 목록",
            "items": {
              "oneOf": [
                {
                  "type": "object"
                },
                {
                  "type": "boolean"
                },
                {
                  "type": "string"
                },
                {
                  "type": "number"
                }
              ]
            }
          }
        }
      },
      "OrderUpdateRepeatQuestRequest": {
        "title": "OrderUpdateRepeatQuestRequest",
        "required": [
          "questType",
          "updateOrderRequests"
        ],
        "type": "object",
        "properties": {
          "updateOrderRequests": {
            "type": "array",
            "description": "변경 대상 정보",
            "items": {
              "required": [
                "displayOrder",
                "id"
              ],
              "type": "object",
              "properties": {
                "displayOrder": {
                  "type": "number",
                  "description": "변경하려는 정렬 순서"
                },
                "id": {
                  "type": "string",
                  "description": "변경 대상 반복 퀘스트 아이디"
                }
              }
            }
          },
          "questType": {
            "type": "string",
            "description": "퀘스트 타입: DAILY / WEEKLY / MONTHLY"
          }
        }
      },
      "UpdateInterestRequest": {
        "title": "UpdateInterestRequest",
        "required": [
          "colorCode",
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "관심사 이름"
          },
          "colorCode": {
            "type": "string",
            "description": "관심사 색상 코드"
          }
        }
      },
      "ListAssignQuestResponse": {
        "title": "ListAssignQuestResponse",
        "required": [
          "dailyQuests",
          "monthlyQuests",
          "weeklyQuests"
        ],
        "type": "object",
        "properties": {
          "monthlyQuests": {
            "type": "array",
            "description": "월간 퀘스트 목록",
            "items": {
              "required": [
                "completed",
                "confirmed",
                "content",
                "displayOrder",
                "id",
                "point",
                "proof",
                "questType",
                "score",
                "startDateTime",
                "subjectId",
                "subjectName"
              ],
              "type": "object",
              "properties": {
                "score": {
                  "type": "number",
                  "description": "점수 보상"
                },
                "startDateTime": {
                  "type": "string",
                  "description": "퀘스트 시작일"
                },
                "questType": {
                  "type": "string",
                  "description": "퀘스트 타입: DAILY / WEEKLY / MONTHLY"
                },
                "displayOrder": {
                  "type": "number",
                  "description": "정렬 순서"
                },
                "proof": {
                  "type": "string",
                  "description": "퀘스트 증명"
                },
                "completed": {
                  "type": "boolean",
                  "description": "완료 여부"
                },
                "id": {
                  "type": "string",
                  "description": "할당 퀘스트 아이디"
                },
                "confirmed": {
                  "type": "boolean",
                  "description": "확정 여부"
                },
                "content": {
                  "type": "string",
                  "description": "퀘스트 내용"
                },
                "point": {
                  "type": "number",
                  "description": "포인트 보상"
                },
                "subjectId": {
                  "type": "string",
                  "description": "퀘스트 주제(관심사) 아이디"
                },
                "subjectName": {
                  "type": "string",
                  "description": "퀘스트 주제(관심사) 이름"
                }
              }
            }
          },
          "weeklyQuests": {
            "type": "array",
            "description": "주간 퀘스트 목록",
            "items": {
              "required": [
                "completed",
                "confirmed",
                "content",
                "displayOrder",
                "id",
                "point",
                "proof",
                "questType",
                "score",
                "startDateTime",
                "subjectId",
                "subjectName"
              ],
              "type": "object",
              "properties": {
                "score": {
                  "type": "number",
                  "description": "점수 보상"
                },
                "startDateTime": {
                  "type": "string",
                  "description": "퀘스트 시작일"
                },
                "questType": {
                  "type": "string",
                  "description": "퀘스트 타입: DAILY / WEEKLY / MONTHLY"
                },
                "displayOrder": {
                  "type": "number",
                  "description": "정렬 순서"
                },
                "proof": {
                  "type": "string",
                  "description": "퀘스트 증명"
                },
                "completed": {
                  "type": "boolean",
                  "description": "완료 여부"
                },
                "id": {
                  "type": "string",
                  "description": "할당 퀘스트 아이디"
                },
                "confirmed": {
                  "type": "boolean",
                  "description": "확정 여부"
                },
                "content": {
                  "type": "string",
                  "description": "퀘스트 내용"
                },
                "point": {
                  "type": "number",
                  "description": "포인트 보상"
                },
                "subjectId": {
                  "type": "string",
                  "description": "퀘스트 주제(관심사) 아이디"
                },
                "subjectName": {
                  "type": "string",
                  "description": "퀘스트 주제(관심사) 이름"
                }
              }
            }
          },
          "dailyQuests": {
            "type": "array",
            "description": "일간 퀘스트 목록",
            "items": {
              "required": [
                "completed",
                "confirmed",
                "content",
                "displayOrder",
                "id",
                "point",
                "proof",
                "questType",
                "score",
                "startDateTime",
                "subjectId",
                "subjectName"
              ],
              "type": "object",
              "properties": {
                "score": {
                  "type": "number",
                  "description": "점수 보상"
                },
                "startDateTime": {
                  "type": "string",
                  "description": "퀘스트 시작일"
                },
                "questType": {
                  "type": "string",
                  "description": "퀘스트 타입: DAILY / WEEKLY / MONTHLY"
                },
                "displayOrder": {
                  "type": "number",
                  "description": "정렬 순서"
                },
                "proof": {
                  "type": "string",
                  "description": "퀘스트 증명"
                },
                "completed": {
                  "type": "boolean",
                  "description": "완료 여부"
                },
                "id": {
                  "type": "string",
                  "description": "할당 퀘스트 아이디"
                },
                "confirmed": {
                  "type": "boolean",
                  "description": "확정 여부"
                },
                "content": {
                  "type": "string",
                  "description": "퀘스트 내용"
                },
                "point": {
                  "type": "number",
                  "description": "포인트 보상"
                },
                "subjectId": {
                  "type": "string",
                  "description": "퀘스트 주제(관심사) 아이디"
                },
                "subjectName": {
                  "type": "string",
                  "description": "퀘스트 주제(관심사) 이름"
                }
              }
            }
          }
        }
      },
      "ReadQuestPropertyResponse": {
        "title": "ReadQuestPropertyResponse",
        "required": [
          "dailyThreshold",
          "monthlyThreshold",
          "weeklyThreshold"
        ],
        "type": "object",
        "properties": {
          "monthlyThreshold": {
            "type": "number",
            "description": "월간 퀘스트 생성 제한 수치"
          },
          "dailyThreshold": {
            "type": "number",
            "description": "일일 퀘스트 생성 제한 수치"
          },
          "weeklyThreshold": {
            "type": "number",
            "description": "주간 퀘스트 생성 제한 수치"
          }
        }
      },
      "CreateInterestResponse": {
        "title": "CreateInterestResponse",
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "관심사 아이디: 임의의 고유 식별 문자"
          }
        }
      },
      "CreateMemberRequest": {
        "title": "CreateMemberRequest",
        "required": [
          "email",
          "handle",
          "motto",
          "name",
          "password"
        ],
        "type": "object",
        "properties": {
          "password": {
            "type": "string",
            "description": "비밀번호"
          },
          "name": {
            "type": "string",
            "description": "이름"
          },
          "motto": {
            "type": "string",
            "description": "한 줄 다짐"
          },
          "handle": {
            "type": "string",
            "description": "사용자가 지정한 고유 식별 문자"
          },
          "email": {
            "type": "string",
            "description": "이메일"
          }
        }
      },
      "ListPointResponse": {
        "title": "ListPointResponse",
        "required": [
          "lastElementId",
          "points"
        ],
        "type": "object",
        "properties": {
          "lastElementId": {
            "type": "string",
            "description": "현재 페이지의 마지막 포인트 아이디"
          },
          "points": {
            "type": "array",
            "description": "포인트 목록",
            "items": {
              "required": [
                "amount",
                "description",
                "id",
                "sourceType",
                "transactionDateTime",
                "transactionType"
              ],
              "type": "object",
              "properties": {
                "transactionType": {
                  "type": "string",
                  "description": "거래 타입: GAIN / SPEND"
                },
                "amount": {
                  "type": "number",
                  "description": "포인트 양"
                },
                "transactionDateTime": {
                  "type": "string",
                  "description": "거래 날짜"
                },
                "sourceType": {
                  "type": "string",
                  "description": "발원지: QUEST / ATTENDANCE / STORE / EVENT"
                },
                "description": {
                  "type": "string",
                  "description": "포인트에 대한 설명"
                },
                "id": {
                  "type": "string",
                  "description": "포인트 아이디"
                }
              }
            }
          }
        }
      },
      "VerifyEmailAuthCodeResponse": {
        "title": "VerifyEmailAuthCodeResponse",
        "required": [
          "email"
        ],
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "이메일"
          }
        }
      },
      "LoginMemberRequest": {
        "title": "LoginMemberRequest",
        "required": [
          "email",
          "password"
        ],
        "type": "object",
        "properties": {
          "password": {
            "type": "string",
            "description": "비밀번호"
          },
          "email": {
            "type": "string",
            "description": "이메일"
          }
        }
      },
      "OrderUpdateMajorInterestRequest": {
        "title": "OrderUpdateMajorInterestRequest",
        "required": [
          "updateOrderRequests"
        ],
        "type": "object",
        "properties": {
          "updateOrderRequests": {
            "type": "array",
            "description": "변경 대상 정보",
            "items": {
              "required": [
                "displayOrder",
                "id"
              ],
              "type": "object",
              "properties": {
                "displayOrder": {
                  "type": "number",
                  "description": "변경하려는 정렬 순서"
                },
                "id": {
                  "type": "string",
                  "description": "변경 대상 주요 관심사 아이디"
                }
              }
            }
          }
        }
      },
      "CalendarListAssignQuestResponse": {
        "title": "CalendarListAssignQuestResponse",
        "required": [
          "assignQuests"
        ],
        "type": "object",
        "properties": {
          "assignQuests": {
            "type": "array",
            "description": "할당 퀘스트 목록",
            "items": {
              "required": [
                "completed",
                "content",
                "id",
                "proof",
                "questType",
                "subjectName"
              ],
              "type": "object",
              "properties": {
                "questType": {
                  "type": "string",
                  "description": "퀘스트 타입"
                },
                "completedDateTime": {
                  "type": "string",
                  "description": "완료일 (없을 경우 null)",
                  "nullable": true
                },
                "completed": {
                  "type": "boolean",
                  "description": "완료 여부"
                },
                "proof": {
                  "type": "string",
                  "description": "퀘스트 증명"
                },
                "id": {
                  "type": "string",
                  "description": "할당 퀘스트 아이디"
                },
                "content": {
                  "type": "string",
                  "description": "퀘스트 내용"
                },
                "subjectName": {
                  "type": "string",
                  "description": "주제(관심사) 이름"
                }
              }
            }
          }
        }
      },
      "ReadMemberResponse": {
        "title": "ReadMemberResponse",
        "required": [
          "activateStatus",
          "availablePoints",
          "email",
          "handle",
          "id",
          "loginProvider",
          "motto",
          "name",
          "profileImageUrl",
          "roleType",
          "signUpDateTime",
          "subscriptionPlan"
        ],
        "type": "object",
        "properties": {
          "signUpDateTime": {
            "type": "string",
            "description": "가입 날짜"
          },
          "subscriptionPlan": {
            "type": "string",
            "description": "유료 플랜 등급"
          },
          "name": {
            "type": "string",
            "description": "이름"
          },
          "motto": {
            "type": "string",
            "description": "한 줄 다짐"
          },
          "handle": {
            "type": "string",
            "description": "사용자가 지정한 고유 식별 문자"
          },
          "availablePoints": {
            "type": "number",
            "description": "보유중인 포인트 양"
          },
          "id": {
            "type": "string",
            "description": "임의의 고유 식별 문자"
          },
          "activateStatus": {
            "type": "string",
            "description": "계정 활성화 상태"
          },
          "roleType": {
            "type": "string",
            "description": "사용자 권한"
          },
          "loginProvider": {
            "type": "string",
            "description": "회원가입 시 사용한 방식(EMAIL, GOOGLE)"
          },
          "profileImageUrl": {
            "type": "string",
            "description": "사용자 프로필 이미지의 경로"
          },
          "email": {
            "type": "string",
            "description": "이메일"
          }
        }
      },
      "ListInterestResponse": {
        "title": "ListInterestResponse",
        "required": [
          "interests"
        ],
        "type": "object",
        "properties": {
          "interests": {
            "type": "array",
            "description": "관심사 목록",
            "items": {
              "required": [
                "colorCode",
                "id",
                "level",
                "logoUrl",
                "majorInterest",
                "name",
                "registrantId",
                "score",
                "scoreThreshold",
                "totalScore"
              ],
              "type": "object",
              "properties": {
                "scoreThreshold": {
                  "type": "number",
                  "description": "현재 레벨의 임계 점수"
                },
                "score": {
                  "type": "number",
                  "description": "현재 점수"
                },
                "majorInterest": {
                  "type": "boolean",
                  "description": "주요 관심사 여부"
                },
                "level": {
                  "type": "number",
                  "description": "레벨"
                },
                "registrantId": {
                  "type": "string",
                  "description": "사용자 아이디"
                },
                "name": {
                  "type": "string",
                  "description": "관심사 이름"
                },
                "colorCode": {
                  "type": "string",
                  "description": "관심사 색상"
                },
                "id": {
                  "type": "string",
                  "description": "관심사 아이디"
                },
                "totalScore": {
                  "type": "number",
                  "description": "전체 점수"
                },
                "logoUrl": {
                  "type": "string",
                  "description": "관심사 로고 이미지"
                }
              }
            }
          }
        }
      },
      "CreateInterestRelationResponse": {
        "title": "CreateInterestRelationResponse",
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "관심사 간선 아이디"
          }
        }
      },
      "UpdateHandleRequest": {
        "title": "UpdateHandleRequest",
        "required": [
          "handle"
        ],
        "type": "object",
        "properties": {
          "handle": {
            "type": "string",
            "description": "사용자가 지정한 고유 식별 문자"
          }
        }
      },
      "CreateMemberResponse": {
        "title": "CreateMemberResponse",
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "사용자 아이디: 임의의 고유 식별 문자"
          }
        }
      },
      "oauth-login-google-855261794": {
        "required": [
          "id",
          "token"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Member ID"
          },
          "token": {
            "type": "string",
            "description": "Access Token"
          }
        }
      },
      "LoginMemberResponse": {
        "title": "LoginMemberResponse",
        "required": [
          "id",
          "token"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "사용자 아이디: 임의의 고유 식별 문자"
          },
          "token": {
            "type": "string",
            "description": "ACCESS TOKEN: 인가를 위한 JWT Token"
          }
        }
      },
      "UpdateMemberRequest": {
        "title": "UpdateMemberRequest",
        "required": [
          "motto",
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "이름"
          },
          "motto": {
            "type": "string",
            "description": "한 줄 다짐"
          }
        }
      },
      "CreateAssignQuestRequest": {
        "title": "CreateAssignQuestRequest",
        "required": [
          "content",
          "questType",
          "subjectId",
          "subjectName"
        ],
        "type": "object",
        "properties": {
          "questType": {
            "type": "string",
            "description": "퀘스트 타입: DAILY / WEEKLY / MONTHLY"
          },
          "content": {
            "type": "string",
            "description": "퀘스트 내용"
          },
          "subjectId": {
            "type": "string",
            "description": "퀘스트 주제(관심사) 아이디"
          },
          "subjectName": {
            "type": "string",
            "description": "퀘스트 주제(관심사) 이름"
          }
        }
      },
      "UpdateAssignQuestRequest": {
        "title": "UpdateAssignQuestRequest",
        "required": [
          "content",
          "questType",
          "subjectId",
          "subjectName"
        ],
        "type": "object",
        "properties": {
          "questType": {
            "type": "string",
            "description": "퀘스트 타입: DAILY / WEEKLY / MONTHLY"
          },
          "content": {
            "type": "string",
            "description": "퀘스트 내용"
          },
          "subjectId": {
            "type": "string",
            "description": "퀘스트 주제(관심사) 아이디"
          },
          "subjectName": {
            "type": "string",
            "description": "퀘스트 주제(관심사) 이름"
          }
        }
      },
      "UpdateRepeatQuestRequest": {
        "title": "UpdateRepeatQuestRequest",
        "required": [
          "content",
          "questType",
          "subjectId",
          "subjectName"
        ],
        "type": "object",
        "properties": {
          "questType": {
            "type": "string",
            "description": "퀘스트 타입: DAILY / WEEKLY / MONTHLY"
          },
          "content": {
            "type": "string",
            "description": "퀘스트 내용"
          },
          "subjectId": {
            "type": "string",
            "description": "퀘스트 주제(관심사) 아이디"
          },
          "subjectName": {
            "type": "string",
            "description": "퀘스트 주제(관심사) 이름"
          }
        }
      },
      "ReadBalanceResponse": {
        "title": "ReadBalanceResponse",
        "required": [
          "amount"
        ],
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "포인트 잔고"
          }
        }
      },
      "OrderUpdateAssignQuestRequest": {
        "title": "OrderUpdateAssignQuestRequest",
        "required": [
          "questType",
          "updateOrderRequests"
        ],
        "type": "object",
        "properties": {
          "updateOrderRequests": {
            "type": "array",
            "description": "변경 대상 정보",
            "items": {
              "required": [
                "displayOrder",
                "id"
              ],
              "type": "object",
              "properties": {
                "displayOrder": {
                  "type": "number",
                  "description": "변경하려는 정렬 순서"
                },
                "id": {
                  "type": "string",
                  "description": "변경 대상 할당 퀘스트 아이디"
                }
              }
            }
          },
          "questType": {
            "type": "string",
            "description": "퀘스트 타입: DAILY / WEEKLY / MONTHLY"
          }
        }
      },
      "CreateRepeatQuestRequest": {
        "title": "CreateRepeatQuestRequest",
        "required": [
          "content",
          "questType",
          "subjectId",
          "subjectName"
        ],
        "type": "object",
        "properties": {
          "questType": {
            "type": "string",
            "description": "퀘스트 타입: DAILY / WEEKLY / MONTHLY"
          },
          "content": {
            "type": "string",
            "description": "퀘스트 내용"
          },
          "subjectId": {
            "type": "string",
            "description": "퀘스트 주제(관심사) 아이디"
          },
          "subjectName": {
            "type": "string",
            "description": "퀘스트 주제(관심사) 이름"
          }
        }
      },
      "UpdatePasswordRequest": {
        "title": "UpdatePasswordRequest",
        "required": [
          "originPassword",
          "updatedPassword"
        ],
        "type": "object",
        "properties": {
          "updatedPassword": {
            "type": "string",
            "description": "새 비밀번호"
          },
          "originPassword": {
            "type": "string",
            "description": "기존 비밀번호"
          }
        }
      },
      "ListMajorInterestResponse": {
        "title": "ListMajorInterestResponse",
        "required": [
          "majorInterests"
        ],
        "type": "object",
        "properties": {
          "majorInterests": {
            "type": "array",
            "description": "주요 관심사 목록",
            "items": {
              "required": [
                "displayOrder",
                "id",
                "interestId",
                "level",
                "logoUrl",
                "name",
                "score",
                "scoreThreshold"
              ],
              "type": "object",
              "properties": {
                "scoreThreshold": {
                  "type": "number",
                  "description": "현재 레벨의 임계 점수"
                },
                "score": {
                  "type": "number",
                  "description": "현재 점수"
                },
                "level": {
                  "type": "number",
                  "description": "레벨"
                },
                "interestId": {
                  "type": "string",
                  "description": "관심사 아이디"
                },
                "displayOrder": {
                  "type": "number",
                  "description": "정렬 순서"
                },
                "name": {
                  "type": "string",
                  "description": "관심사 이름"
                },
                "id": {
                  "type": "string",
                  "description": "주요 관심사 아이디"
                },
                "logoUrl": {
                  "type": "string",
                  "description": "관심사 로고 이미지"
                }
              }
            }
          }
        }
      },
      "CreateEmailAuthCodeRequest": {
        "title": "CreateEmailAuthCodeRequest",
        "required": [
          "email"
        ],
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "이메일"
          }
        }
      },
      "CreateInterestRelationRequest": {
        "title": "CreateInterestRelationRequest",
        "required": [
          "childInterestId",
          "parentInterestId"
        ],
        "type": "object",
        "properties": {
          "parentInterestId": {
            "type": "string",
            "description": "상위 관심사 아이디"
          },
          "childInterestId": {
            "type": "string",
            "description": "하위 관심사 아이디"
          }
        }
      },
      "ListRepeatQuestResponse": {
        "title": "ListRepeatQuestResponse",
        "required": [
          "dailyQuests",
          "monthlyQuests",
          "weeklyQuests"
        ],
        "type": "object",
        "properties": {
          "monthlyQuests": {
            "type": "array",
            "description": "월간 퀘스트 목록",
            "items": {
              "oneOf": [
                {
                  "type": "object"
                },
                {
                  "type": "boolean"
                },
                {
                  "type": "string"
                },
                {
                  "type": "number"
                }
              ]
            }
          },
          "weeklyQuests": {
            "type": "array",
            "description": "주간 퀘스트 목록",
            "items": {
              "oneOf": [
                {
                  "type": "object"
                },
                {
                  "type": "boolean"
                },
                {
                  "type": "string"
                },
                {
                  "type": "number"
                }
              ]
            }
          },
          "dailyQuests": {
            "type": "array",
            "description": "일간 퀘스트 목록",
            "items": {
              "required": [
                "content",
                "displayOrder",
                "id",
                "point",
                "questType",
                "score",
                "subjectId",
                "subjectName"
              ],
              "type": "object",
              "properties": {
                "score": {
                  "type": "number",
                  "description": "점수 보상"
                },
                "questType": {
                  "type": "string",
                  "description": "퀘스트 타입: DAILY / WEEKLY / MONTHLY"
                },
                "displayOrder": {
                  "type": "number",
                  "description": "정렬 순서"
                },
                "id": {
                  "type": "string",
                  "description": "반복 퀘스트 아이디"
                },
[...]
