{
  "openapi": "3.0.1",
  "info": {
    "title": "GOMO API",
    "description": "GOMO API 문서 입니다.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://gomo.nurdykim.me"
    }
  ],
  "tags": [],
  "paths": {
    "/interests": {
      "get": {
        "tags": [
          "Interest"
        ],
        "summary": "관심사 목록 조회 API",
        "description": "사용자의 관심사 목록을 조회합니다.",
        "operationId": "list_interest",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListInterestResponse"
                },
                "examples": {
                  "list_interest": {
                    "value": "{\"interests\":[{\"id\":\"3bd1b3f7-d7c6-11ef-abb8-a7e09b2a499c\",\"registrantId\":\"a10581ce-d721-11ef-a8a5-2508e2a6438b\",\"name\":\"Backend\",\"logoUrl\":\"https://mini-cloud/backend-logo.png\",\"level\":10,\"score\":45,\"scoreThreshold\":60,\"totalScore\":445},{\"id\":\"90a387a7-d7c5-11ef-b4d7-079c7dc41274\",\"registrantId\":\"a10581ce-d721-11ef-a8a5-2508e2a6438b\",\"name\":\"Spring\",\"logoUrl\":\"https://mini-cloud/spring-logo.png\",\"level\":5,\"score\":20,\"scoreThreshold\":40,\"totalScore\":220},{\"id\":\"f8c51811-d7c5-11ef-82dc-4322ccc3e338\",\"registrantId\":\"a10581ce-d721-11ef-a8a5-2508e2a6438b\",\"name\":\"Java\",\"logoUrl\":\"https://mini-cloud/java-logo.png\",\"level\":6,\"score\":30,\"scoreThreshold\":40,\"totalScore\":270}]}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Interest"
        ],
        "summary": "관심사 등록 API",
        "description": "사용자의 관심사를 등록합니다.",
        "operationId": "create_interest",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "request": {
                    "$ref": "#/components/schemas/CreateInterestRequest"
                  },
                  "logo": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "create_interest/error": {
                    "value": "{\"timestamp\":\"2025-02-12T20:25:27.015343\",\"httpStatus\":422,\"code\":\"IMAGE_TOO_LARGE\",\"message\":\"Maximum upload size exceeded\",\"path\":\"/interests\"}"
                  }
                }
              }
            }
          },
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateInterestResponse"
                },
                "examples": {
                  "create_interest": {
                    "value": "{\"id\":\"0194f9e8-1f64-7c1c-b976-d22ca959e9f0\"}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/interests/majors": {
      "get": {
        "tags": [
          "Interest"
        ],
        "summary": "주요 관심사 목록 조회 API",
        "description": "사용자의 주요 관심사 목록을 조회합니다.",
        "operationId": "list_major_interest",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMajorInterestResponse"
                },
                "examples": {
                  "list_major_interest": {
                    "value": "{\"majorInterests\":[{\"id\":\"bec49c34-d7f5-11ef-8497-edeb32532766\",\"name\":\"Spring\",\"logoUrl\":\"https://mini-cloud/spring-logo.png\",\"level\":5,\"score\":20,\"scoreThreshold\":40,\"displayOrder\":2},{\"id\":\"172916b7-d7f6-11ef-b7fd-0bd5a273f618\",\"name\":\"Java\",\"logoUrl\":\"https://mini-cloud/java-logo.png\",\"level\":6,\"score\":30,\"scoreThreshold\":40,\"displayOrder\":1}]}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/interests/networks": {
      "get": {
        "tags": [
          "Interest"
        ],
        "summary": "관심사 그래프 조회 API",
        "description": "사용자의 관심사를 조회합니다.",
        "operationId": "interest_network",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InterestNetworkResponse"
                },
                "examples": {
                  "interest_network": {
                    "value": "{\"interests\":[{\"id\":\"3bd1b3f7-d7c6-11ef-abb8-a7e09b2a499c\",\"registrantId\":\"a10581ce-d721-11ef-a8a5-2508e2a6438b\",\"name\":\"Backend\",\"logoUrl\":\"https://mini-cloud/backend-logo.png\",\"level\":10,\"score\":45,\"scoreThreshold\":60,\"totalScore\":445},{\"id\":\"90a387a7-d7c5-11ef-b4d7-079c7dc41274\",\"registrantId\":\"a10581ce-d721-11ef-a8a5-2508e2a6438b\",\"name\":\"Spring\",\"logoUrl\":\"https://mini-cloud/spring-logo.png\",\"level\":5,\"score\":20,\"scoreThreshold\":40,\"totalScore\":220},{\"id\":\"f8c51811-d7c5-11ef-82dc-4322ccc3e338\",\"registrantId\":\"a10581ce-d721-11ef-a8a5-2508e2a6438b\",\"name\":\"Java\",\"logoUrl\":\"https://mini-cloud/java-logo.png\",\"level\":6,\"score\":30,\"scoreThreshold\":40,\"totalScore\":270}],\"relations\":[{\"id\":\"80ac5a74-d7eb-11ef-a2bd-1f5e37eb89a8\",\"registrantId\":\"a10581ce-d721-11ef-a8a5-2508e2a6438b\",\"parentInterestId\":\"3bd1b3f7-d7c6-11ef-abb8-a7e09b2a499c\",\"childInterestId\":\"f8c51811-d7c5-11ef-82dc-4322ccc3e338\"}]}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/interests/{id}": {
      "get": {
        "tags": [
          "Interest"
        ],
        "summary": "관심사 조회 API",
        "description": "사용자의 관심사를 조회합니다.",
        "operationId": "read_interest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadInterestResponse"
                },
                "examples": {
                  "read_interest": {
                    "value": "{\"id\":\"3bd1b3f7-d7c6-11ef-abb8-a7e09b2a499c\",\"registrantId\":\"a10581ce-d721-11ef-a8a5-2508e2a6438b\",\"name\":\"Backend\",\"logoUrl\":\"https://mini-cloud/backend-logo.png\",\"level\":10,\"score\":45,\"scoreThreshold\":60,\"totalScore\":445}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Interest"
        ],
        "summary": "관심사 수정 API",
        "description": "사용자의 관심사를 수정합니다.",
        "operationId": "update_interest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInterestRequest"
              },
              "examples": {
                "update_interest/error": {
                  "value": "{\"name\":\"forbidden{}\"}"
                },
                "update_interest": {
                  "value": "{\"name\":\"updated interest name\"}"
                }
              }
            }
          }
        },
        "responses": {
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "update_interest/error": {
                    "value": "{\"timestamp\":\"2025-02-18T23:43:58.8700812\",\"httpStatus\":422,\"code\":\"INVALID_PARAMETER\",\"message\":\"Interest name cannot contain forbidden characters\",\"path\":\"/interests/3bd1b3f7-d7c6-11ef-abb8-a7e09b2a499c\"}"
                  }
                }
              }
            }
          },
          "204": {
            "description": "204"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Interest"
        ],
        "summary": "관심사 삭제 API",
        "description": "사용자의 관심사를 삭제합니다.",
        "operationId": "delete_interest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "204"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/interests/majors/orders": {
      "put": {
        "tags": [
          "Interest"
        ],
        "summary": "주요 관심사 정렬 순서 변경 API",
        "description": "주요 관심사 목록의 정렬 순서를 변경합니다.",
        "operationId": "order_update_major_interest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderUpdateMajorInterestRequest"
              },
              "examples": {
                "order_update_major_interest": {
                  "value": "{\"updatedOrders\":[2,1]}"
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "204"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/interests/majors/{id}": {
      "delete": {
        "tags": [
          "Interest"
        ],
        "summary": "주요 관심사 삭제 API",
        "description": "사용자의 주요 관심사를 삭제합니다.",
        "operationId": "delete_major_interest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "204"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/interests/networks/relations": {
      "post": {
        "tags": [
          "Interest"
        ],
        "summary": "관심사 계층 구조 추가 API",
        "description": "두 가지 관심사 사이의 연결선을 추가합니다.",
        "operationId": "create_interest_relation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInterestRelationRequest"
              },
              "examples": {
                "create_interest_relation": {
                  "value": "{\"parentInterestId\":\"3bd1b3f7-d7c6-11ef-abb8-a7e09b2a499c\",\"childInterestId\":\"90a387a7-d7c5-11ef-b4d7-079c7dc41274\"}"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateInterestRelationResponse"
                },
                "examples": {
                  "create_interest_relation": {
                    "value": "{\"id\":\"01951984-037d-70d0-a25f-6fdd94bf45ce\"}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/interests/{id}/logos": {
      "put": {
        "tags": [
          "Interest"
        ],
        "summary": "관심사 로고 이미지 수정 API",
        "description": "사용자 관심사의 로고 이미지를 수정합니다.",
        "operationId": "update_interest_logo",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "updatedLogo": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "update_interest_logo/error": {
                    "value": "{\"timestamp\":\"2025-02-12T20:25:28.7527668\",\"httpStatus\":422,\"code\":\"IMAGE_TOO_LARGE\",\"message\":\"Maximum upload size exceeded\",\"path\":\"/interests/3bd1b3f7-d7c6-11ef-abb8-a7e09b2a499c/logos\"}"
                  }
                }
              }
            }
          },
          "204": {
            "description": "204"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/interests/{id}/majors": {
      "post": {
        "tags": [
          "Interest"
        ],
        "summary": "주요 관심사 등록 API",
        "description": "사용자의 주요 관심사를 등록합니다.",
        "operationId": "create_major_interest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "관심사 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "create_major_interest/error": {
                    "value": "{\"timestamp\":\"2025-02-18T23:43:57.3380109\",\"httpStatus\":409,\"code\":\"DUPLICATED\",\"message\":\"Already registered as a major interest\",\"path\":\"/interests/f8c51811-d7c5-11ef-82dc-4322ccc3e338/majors\"}"
                  }
                }
              }
            }
          },
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMajorInterestResponse"
                },
                "examples": {
                  "create_major_interest": {
                    "value": "{\r\n  \"id\" : \"01951984-0470-7e4e-90f9-d78dead9dccb\"\r\n}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/interests/networks/relations/{id}": {
      "delete": {
        "tags": [
          "Interest"
        ],
        "summary": "관심사 계층 구조 삭제 API",
        "description": "두 가지 관심사 사이의 연결선을 삭제합니다.",
        "operationId": "delete_interest_relation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "204"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/members": {
      "get": {
        "tags": [
          "Member"
        ],
        "summary": "사용자 프로필 조회 API",
        "description": "사용자의 프로필 정보를 조회합니다.",
        "operationId": "read_member",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadMemberResponse"
                },
                "examples": {
                  "read_member": {
                    "value": "{\"id\":\"a10581ce-d721-11ef-a8a5-2508e2a6438b\",\"email\":\"gomotest@naver.com\",\"handle\":\"@GOMOTEST\",\"name\":\"gomotest\",\"motto\":\"gomotest fighting!\",\"availablePoints\":1660,\"profileImageUrl\":\"https://mini-cloud/gomotest-profile\",\"loginProvider\":\"EMAIL\",\"roleType\":\"ROLE_MEMBER\",\"subscriptionPlan\":\"FREE\",\"activateStatus\":\"ACTIVE\",\"signUpDateTime\":\"2025-01-20T20:36:37.591469\"}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Member"
        ],
        "summary": "사용자 개인 정보 변경 API",
        "description": "사용자 개인 정보를 변경합니다.",
        "operationId": "update_member_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMemberRequest"
              },
              "examples": {
                "update_member_info/error": {
                  "value": "{\"name\":\"GOMO4\",\"motto\":\"~!@#$\"}"
                },
                "update_member_info": {
                  "value": "{\"name\":\"GOMO4\",\"motto\":\"GOMOTEST..\"}"
                }
              }
            }
          }
        },
        "responses": {
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "update_member_info/error": {
                    "value": "{\"timestamp\":\"2025-02-18T23:44:06.3997682\",\"httpStatus\":422,\"code\":\"INVALID_PARAMETER\",\"message\":\"Motto must comply with the motto rules\",\"path\":\"/members\"}"
                  }
                }
              }
            }
          },
          "204": {
            "description": "204"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Member"
        ],
        "summary": "회원가입 API",
        "description": "사용자 회원가입을 처리합니다.",
        "operationId": "sign_up_member",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMemberRequest"
              },
              "examples": {
                "sign_up_member/error": {
                  "value": "{\"email\":\"gomotest3@naver.com\",\"password\":\"gomo123\",\"handle\":\"@GOMOTEST3\",\"name\":\"gomotest3\",\"motto\":\"gomotest fighting!\"}"
                },
                "sign_up_member": {
                  "value": "{\"email\":\"gomotest3@naver.com\",\"password\":\"Gomotest1234@\",\"handle\":\"@GOMOTEST3\",\"name\":\"gomotest3\",\"motto\":\"gomotest fighting!\"}"
                }
              }
            }
          }
        },
        "responses": {
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "sign_up_member/error": {
                    "value": "{\"timestamp\":\"2025-02-18T23:44:04.9891625\",\"httpStatus\":422,\"code\":\"INVALID_PARAMETER\",\"message\":\"password must at least 8 characters\",\"path\":\"/members\"}"
                  }
                }
              }
            }
          },
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMemberResponse"
                },
                "examples": {
                  "sign_up_member": {
                    "value": "{\"id\":\"01951984-23a0-7bf2-b5ac-620fd3848219\"}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/members/handles": {
      "put": {
        "tags": [
          "Member"
        ],
        "summary": "핸들 변경 API",
        "description": "사용자 핸들을 변경합니다.",
        "operationId": "update_handle",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateHandleRequest"
              },
              "examples": {
                "update_handle/error": {
                  "value": "{\"handle\":\"@G\"}"
                },
                "update_handle": {
                  "value": "{\"handle\":\"@UPDATE\"}"
                }
              }
            }
          }
        },
        "responses": {
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "update_handle/error": {
                    "value": "{\"timestamp\":\"2025-02-18T23:44:05.9063955\",\"httpStatus\":422,\"code\":\"INVALID_PARAMETER\",\"message\":\"Handle must be at least 3 characters\",\"path\":\"/members/handles\"}"
                  }
                }
              }
            }
          },
          "204": {
            "description": "204"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/members/login": {
      "post": {
        "tags": [
          "Member"
        ],
        "summary": "로그인 API",
        "description": "사용자 로그인을 처리합니다.",
        "operationId": "login_member",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginMemberRequest"
              },
              "examples": {
                "login_member/error": {
                  "value": "{\"email\":\"test123@google.com\",\"password\":\"Gomotest1234@\"}"
                },
                "login_member": {
                  "value": "{\"email\":\"gomotest@naver.com\",\"password\":\"Gomotest1234@\"}"
                }
              }
            }
          }
        },
        "responses": {
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "login_member/error": {
                    "value": "{\"timestamp\":\"2025-02-18T23:44:04.1578321\",\"httpStatus\":404,\"code\":\"NOT_FOUND\",\"message\":\"check email or password\",\"path\":\"/members/login\"}"
                  }
                }
              }
            }
          },
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginMemberResponse"
                },
                "examples": {
                  "login_member": {
                    "value": "{\"id\":\"a10581ce-d721-11ef-a8a5-2508e2a6438b\",\"token\":\"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhMTA1ODFjZS1kNzIxLTExZWYtYThhNS0yNTA4ZTJhNjQzOGIiLCJpYXQiOjE3Mzk4ODk4NDMsImV4cCI6MTczOTg5MDc0M30.51s5omZMIugMjbXg1E01VLm-lGPgyizT2MDKrf74vzc\"}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/members/passwords": {
      "put": {
        "tags": [
          "Member"
        ],
        "summary": "비밀번호 변경 API",
        "description": "사용자 비밀번호를 변경합니다.",
        "operationId": "update_password",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePasswordRequest"
              },
              "examples": {
                "update_password/error": {
                  "value": "{\"originPassword\":\"Gomotest1234@\",\"updatedPassword\":\"~ ! @ # $\"}"
                },
                "update_password": {
                  "value": "{\"originPassword\":\"Gomotest1234@\",\"updatedPassword\":\"Gomotest1234!\"}"
                }
              }
            }
          }
        },
        "responses": {
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "update_password/error": {
                    "value": "{\"timestamp\":\"2025-02-18T23:44:07.1699949\",\"httpStatus\":422,\"code\":\"INVALID_PARAMETER\",\"message\":\"password must comply with the password rules.\",\"path\":\"/members/passwords\"}"
                  }
                }
              }
            }
          },
          "204": {
            "description": "204"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/members/handles/duplicate": {
      "get": {
        "tags": [
          "Member"
        ],
        "summary": "핸들 중복 확인 API",
        "description": "핸들 중복 및 유효성을 체크하고 상태 코드를 반환합니다.",
        "operationId": "check_duplicated_handle",
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "description": "핸들",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/members-handles-duplicate-1426920435"
                },
                "examples": {
                  "check_duplicated_handle/error": {
                    "value": "{\"timestamp\":\"2025-02-18T23:44:02.8184445\",\"httpStatus\":422,\"code\":\"INVALID_PARAMETER\",\"message\":\"Handle must be at least 3 characters\",\"path\":\"/members/handles/duplicate\"}"
                  }
                }
              }
            }
          },
          "200": {
            "description": "200"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/members/images/profiles": {
      "put": {
        "tags": [
          "Member"
        ],
        "summary": "프로필 이미지 수정 API",
        "description": "사용자의 프로필 이미지를 수정합니다.",
        "operationId": "update_profile_image",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "profileImage": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "update_profile_image/error": {
                    "value": "{\"timestamp\":\"2025-02-18T23:44:08.1016892\",\"httpStatus\":422,\"code\":\"IMAGE_TOO_LARGE\",\"message\":\"Maximum upload size exceeded\",\"path\":\"/members/images/profiles\"}"
                  }
                }
              }
            }
          },
          "204": {
            "description": "204"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/members/properties/quests": {
      "get": {
        "tags": [
          "Member"
        ],
        "summary": "퀘스트 설정값 조회 API",
        "description": "사용자의 퀘스트 설정값을 조회합니다.",
        "operationId": "read_quest_property",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadQuestPropertyResponse"
                },
                "examples": {
                  "read_quest_property": {
                    "value": "{\"dailyThreshold\":7,\"weeklyThreshold\":7,\"monthlyThreshold\":7}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Member"
        ],
        "summary": "퀘스트 설정값 수정 API",
        "description": "사용자의 퀘스트 설정값을 수정합니다.",
        "operationId": "update_quest_property",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateQuestPropertyRequest"
              },
              "examples": {
                "update_quest_property/error": {
                  "value": "{\"dailyThreshold\":-1,\"weeklyThreshold\":5,\"monthlyThreshold\":5}"
                },
                "update_quest_property": {
                  "value": "{\"dailyThreshold\":1,\"weeklyThreshold\":1,\"monthlyThreshold\":1}"
                }
              }
            }
          }
        },
        "responses": {
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "update_quest_property/error": {
                    "value": "{\"timestamp\":\"2025-02-18T23:44:08.5988572\",\"httpStatus\":422,\"code\":\"INVALID_PARAMETER\",\"message\":\"Invalid threshold range\",\"path\":\"/members/properties/quests\"}"
                  }
                }
              }
            }
          },
          "204": {
            "description": "204"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/members/emails/codes/auth": {
      "post": {
        "tags": [
          "Member"
        ],
        "summary": "이메일 인증 코드 생성 API",
        "description": "이메일 중복 및 유효성을 체크하고 인증 코드를 생성합니다.",
        "operationId": "create_email_auth_code",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEmailAuthCodeRequest"
              },
              "examples": {
                "create_email_auth_code/error": {
                  "value": "{\"email\":\"gomotest@naver.com\"}"
                },
                "create_email_auth_code": {
                  "value": "{\"email\":\"test@test.com\"}"
                }
              }
            }
          }
        },
        "responses": {
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "create_email_auth_code/error": {
                    "value": "{\"timestamp\":\"2025-02-18T23:44:03.4809869\",\"httpStatus\":409,\"code\":\"EMAIL_DUPLICATED\",\"message\":\"email already exists\",\"path\":\"/members/emails/codes/auth\"}"
                  }
                }
              }
            }
          },
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateEmailAuthCodeResponse"
                },
                "examples": {
                  "create_email_auth_code": {
                    "value": "{\"email\":\"test@test.com\"}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/points": {
      "get": {
        "tags": [
          "Point"
        ],
        "summary": "포인트 목록 조회 API",
        "description": "사용자의 포인트 획득 및 사용 목록을 조회합니다.",
        "operationId": "list_point",
        "parameters": [
          {
            "name": "size",
            "in": "query",
            "description": "페이지 크기",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastElementId",
            "in": "query",
            "description": "이전 페이지의 마지막 포인트 아이디",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPointResponse"
                },
                "examples": {
                  "list_point": {
                    "value": "{\"points\":[{\"id\":\"ead8cd48-d735-11ef-b568-8745309ead01\",\"sourceType\":\"QUEST\",\"transactionType\":\"GAIN\",\"amount\":1500,\"description\":\"월간 퀘스트 완료 포인트 획득\",\"transactionDateTime\":\"2025-01-22T22:47:25.429471\"},{\"id\":\"c9f68773-d735-11ef-9d10-57f4db82cd9c\",\"sourceType\":\"QUEST\",\"transactionType\":\"GAIN\",\"amount\":150,\"description\":\"주간 퀘스트 완료 포인트 획득\",\"transactionDateTime\":\"2025-01-21T22:47:25.429471\"},{\"id\":\"7dbbdedb-d734-11ef-9c48-394e79c4a67c\",\"sourceType\":\"QUEST\",\"transactionType\":\"GAIN\",\"amount\":10,\"description\":\"일일 퀘스트 완료 포인트 획득\",\"transactionDateTime\":\"2025-01-20T22:47:25.429471\"}],\"lastElementId\":\"7dbbdedb-d734-11ef-9c48-394e79c4a67c\"}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/points/balances": {
      "get": {
        "tags": [
          "Point"
        ],
        "summary": "포인트 잔고 조회 API",
        "description": "사용자의 포인트 잔고를 조회합니다.",
        "operationId": "read_balance",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadBalanceResponse"
                },
                "examples": {
                  "read_balance": {
                    "value": "{\"amount\":1660}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/quests/assigns": {
      "get": {
        "tags": [
          "Quest"
        ],
        "summary": "할당 퀘스트 목록 조회 API",
        "description": "사용자가 할당 퀘스트 목록을 조회합니다.",
        "operationId": "list_assign_quest",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAssignQuestResponse"
                },
                "examples": {
                  "list_assign_quest": {
                    "value": "{\"dailyQuests\":[{\"id\":\"0194cbd7-8689-74ec-bd46-dc855f493c3b\",\"subjectId\":\"f8c51811-d7c5-11ef-82dc-4322ccc3e338\",\"questType\":\"DAILY\",\"point\":10,\"score\":2,\"subjectName\":\"Java\",\"content\":\"daily participating quest\",\"proof\":\"no_proof\",\"startDateTime\":\"2025-02-18T23:43:42\",\"displayOrder\":1,\"completed\":false,\"confirmed\":false}],\"weeklyQuests\":[{\"id\":\"0194cbda-6135-79fc-b659-ebaac3684761\",\"subjectId\":\"f8c51811-d7c5-11ef-82dc-4322ccc3e338\",\"questType\":\"WEEKLY\",\"point\":150,\"score\":20,\"subjectName\":\"Java\",\"content\":\"weekly participating quest\",\"proof\":\"no_proof\",\"startDateTime\":\"2025-02-18T23:43:42\",\"displayOrder\":1,\"completed\":false,\"confirmed\":false}],\"monthlyQuests\":[{\"id\":\"0194cbeb-345e-74a6-9199-07bdb402ea36\",\"subjectId\":\"f8c51811-d7c5-11ef-82dc-4322ccc3e338\",\"questType\":\"MONTHLY\",\"point\":1500,\"score\":100,\"subjectName\":\"Java\",\"content\":\"monthly participating quest\",\"proof\":\"no_proof\",\"startDateTime\":\"2025-02-18T23:43:42\",\"displayOrder\":1,\"completed\":false,\"confirmed\":false}]}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Quest"
        ],
        "summary": "할당 퀘스트 생성 API",
        "description": "사용자가 할당 퀘스트를 생성합니다.",
        "operationId": "create_assign_quest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAssignQuestRequest"
              },
              "examples": {
                "create_assign_quest/error": {
                  "value": "{\"subjectId\":\"9b03efa6-7e82-46c5-b1cf-2e15e9c29771\",\"subjectName\":\"subject name\",\"questType\":\"MONTHLY\",\"content\":\"quest content\"}"
                },
                "create_assign_quest": {
                  "value": "{\"subjectId\":\"19bafaf6-9650-4c0e-b32a-f058000e660c\",\"subjectName\":\"subject name\",\"questType\":\"DAILY\",\"content\":\"quest content\"}"
                }
              }
            }
          }
        },
        "responses": {
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "create_assign_quest/error": {
                    "value": "{\"timestamp\":\"2025-02-18T23:44:11.5129535\",\"httpStatus\":422,\"code\":\"THRESHOLD_EXCEEDED\",\"message\":\"Assign quest threshold exceeded\",\"path\":\"/quests/assigns\"}"
                  }
                }
              }
            }
          },
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAssignQuestResponse"
                },
                "examples": {
                  "create_assign_quest": {
                    "value": "{\"id\":\"01951984-3d19-7bda-a5db-e7a7cde96941\"}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/quests/repeats": {
      "get": {
        "tags": [
          "Quest"
        ],
        "summary": "반복 퀘스트 목록 조회 API",
        "description": "사용자가 반복 퀘스트 목록을 조회합니다.",
        "operationId": "list_repeat_quest",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRepeatQuestResponse"
                },
                "examples": {
                  "list_repeat_quest": {
                    "value": "{\"dailyQuests\":[{\"id\":\"3892ced2-d816-11ef-a05f-25caca7d3e8c\",\"subjectId\":\"f8c51811-d7c5-11ef-82dc-4322ccc3e338\",\"questType\":\"DAILY\",\"point\":10,\"score\":2,\"subjectName\":\"Java\",\"content\":\"Java 공식 문서 학습하고 TIL 작성하기\",\"displayOrder\":1},{\"id\":\"a49f544f-d816-11ef-969c-6f84f91c1c7d\",\"subjectId\":\"90a387a7-d7c5-11ef-b4d7-079c7dc41274\",\"questType\":\"DAILY\",\"point\":10,\"score\":2,\"subjectName\":\"Spring\",\"content\":\"Spring 공식 문서 학습하고 TIL 작성하기\",\"displayOrder\":2}],\"weeklyQuests\":[],\"monthlyQuests\":[]}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Quest"
        ],
        "summary": "반복 퀘스트 생성 API",
        "description": "사용자가 반복 퀘스트를 생성합니다.",
        "operationId": "create_repeat_quest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRepeatQuestRequest"
              },
              "examples": {
                "create_repeat_quest/error": {
                  "value": "{\"subjectId\":\"3bd1b3f7-d7c6-11ef-abb8-a7e09b2a499c\",\"subjectName\":\"subject name\",\"questType\":\"MONTHLY\",\"content\":\"quest content\"}"
                },
                "create_repeat_quest": {
                  "value": "{\"subjectId\":\"3bd1b3f7-d7c6-11ef-abb8-a7e09b2a499c\",\"subjectName\":\"subject name\",\"questType\":\"DAILY\",\"content\":\"quest content\"}"
                }
              }
            }
          }
        },
        "responses": {
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "create_repeat_quest/error": {
                    "value": "{\"timestamp\":\"2025-02-18T23:44:11.9820056\",\"httpStatus\":422,\"code\":\"THRESHOLD_EXCEEDED\",\"message\":\"Repeat quest threshold exceeded\",\"path\":\"/quests/repeats\"}"
                  }
                }
              }
            }
          },
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateRepeatQuestResponse"
                },
                "examples": {
                  "create_repeat_quest": {
                    "value": "{\"id\":\"01951984-3eed-7f8d-8b4a-4150c06097fc\"}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/quests/assigns/calendars": {
      "get": {
        "tags": [
          "Quest"
        ],
        "summary": "할당 퀘스트 캘린더 조회 API",
        "description": "사용자가 한 달간 수행한, 혹은 수행 중인 퀘스트 목록을 조회합니다.",
        "operationId": "calendar_assign_quest",
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "description": "년",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "month",
            "in": "query",
            "description": "월",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarListAssignQuestResponse"
                },
                "examples": {
                  "calendar_assign_quest": {
                    "value": "{\"assignQuests\":[{\"id\":\"0194cbd7-8689-74ec-bd46-dc855f493c3b\",\"questType\":\"DAILY\",\"subjectName\":\"Java\",\"content\":\"daily participating quest\",\"proof\":\"no_proof\",\"completedDateTime\":null,\"completed\":false},{\"id\":\"0194cbda-6135-79fc-b659-ebaac3684761\",\"questType\":\"WEEKLY\",\"subjectName\":\"Java\",\"content\":\"weekly participating quest\",\"proof\":\"no_proof\",\"completedDateTime\":null,\"completed\":false},{\"id\":\"0194cbeb-345e-74a6-9199-07bdb402ea36\",\"questType\":\"MONTHLY\",\"subjectName\":\"Java\",\"content\":\"monthly participating quest\",\"proof\":\"no_proof\",\"completedDateTime\":null,\"completed\":false}]}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/quests/assigns/orders": {
      "put": {
        "tags": [
          "Quest"
        ],
        "summary": "할당 퀘스트 정렬 순서 변경 API",
        "description": "할당 퀘스트 목록의 정렬 순서를 변경합니다.",
        "operationId": "order_update_assign_quest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderUpdateAssignQuestRequest"
              },
              "examples": {
                "order_update_assign_quest": {
                  "value": "{\"questType\":\"DAILY\",\"updatedOrders\":[1]}"
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "204"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/quests/assigns/{id}": {
      "put": {
        "tags": [
          "Quest"
        ],
        "summary": "할당 퀘스트 수정 API",
        "description": "사용자가 할당 퀘스트를 수정합니다.",
        "operationId": "update_assign_quest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAssignQuestRequest"
              },
              "examples": {
                "update_assign_quest/error": {
                  "value": "{\"subjectId\":\"99c8fa2d-18e6-4193-8207-109905473215\",\"subjectName\":\"subject name\",\"questType\":\"DAILY\",\"content\":\"\"}"
                },
                "update_assign_quest": {
                  "value": "{\"subjectId\":\"d1ad4387-7b3e-41ff-a695-be9cc04402bd\",\"subjectName\":\"updated subject name\",\"questType\":\"DAILY\",\"content\":\"updated quest content\"}"
                }
              }
            }
          }
        },
        "responses": {
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "update_assign_quest/error": {
                    "value": "{\"timestamp\":\"2025-02-18T23:44:13.4974774\",\"httpStatus\":422,\"code\":\"INVALID_PARAMETER\",\"message\":\"Quest content cannot be blank\",\"path\":\"/quests/assigns/1450177f-d7ff-11ef-830c-233264c36b07\"}"
                  }
                }
              }
            }
          },
          "204": {
            "description": "204"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Quest"
        ],
        "summary": "할당 퀘스트 삭제 API",
        "description": "사용자가 할당 퀘스트를 삭제합니다.",
        "operationId": "delete_assign_quest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "204"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/quests/repeats/orders": {
      "put": {
        "tags": [
          "Quest"
        ],
        "summary": "반복 퀘스트 정렬 순서 변경 API",
        "description": "반복 퀘스트 목록의 정렬 순서를 변경합니다.",
        "operationId": "order_update_repeat_quest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderUpdateRepeatQuestRequest"
              },
              "examples": {
                "order_update_repeat_quest": {
                  "value": "{\"questType\":\"DAILY\",\"updatedOrders\":[2,1]}"
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "204"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/quests/repeats/{id}": {
      "put": {
        "tags": [
          "Quest"
        ],
        "summary": "반복 퀘스트 수정 API",
        "description": "사용자가 반복 퀘스트를 수정합니다.",
        "operationId": "update_repeat_quest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRepeatQuestRequest"
              },
              "examples": {
                "update_repeat_quest/error": {
                  "value": "{\"subjectId\":\"7fd25436-b275-4cbb-9cca-65bac6eb6db9\",\"subjectName\":\"subject name\",\"questType\":\"DAILY\",\"content\":\" \"}"
                },
                "update_repeat_quest": {
                  "value": "{\"subjectId\":\"a6fb5846-9584-4b84-bb34-853a380c5458\",\"subjectName\":\"subject name\",\"questType\":\"DAILY\",\"content\":\"quest content\"}"
                }
              }
            }
          }
        },
        "responses": {
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "update_repeat_quest/error": {
                    "value": "{\"timestamp\":\"2025-02-18T23:44:13.7668394\",\"httpStatus\":422,\"code\":\"INVALID_PARAMETER\",\"message\":\"Quest content cannot be blank\",\"path\":\"/quests/repeats/3892ced2-d816-11ef-a05f-25caca7d3e8c\"}"
                  }
                }
              }
            }
          },
          "204": {
            "description": "204"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Quest"
        ],
        "summary": "반복 퀘스트 삭제 API",
        "description": "사용자가 반복 퀘스트를 삭제합니다.",
        "operationId": "delete_repeat_quest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "204"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/quests/assigns/{id}/complete": {
      "put": {
        "tags": [
          "Quest"
        ],
        "summary": "할당 퀘스트 완료 API",
        "description": "사용자가 할당 퀘스트를 완료합니다.",
        "operationId": "complete_assign_quest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompleteAssignQuestRequest"
              },
              "examples": {
                "complete_assign_quest": {
                  "value": "{\"proof\":\"https://proof\"}"
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "204"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/quests/assigns/{id}/confirm": {
      "put": {
        "tags": [
          "Quest"
        ],
        "summary": "할당 퀘스트 확정 API",
        "description": "사용자가 할당 퀘스트를 확정합니다.",
        "operationId": "confirm_assign_quest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "204"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/streaks": {
      "get": {
        "tags": [
          "Streak"
        ],
        "summary": "스트릭 목록 조회 API",
        "description": "사용자의 스트릭 목록을 조회합니다.",
        "operationId": "list_streak",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "시작 날짜",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "끝 날짜",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListStreakResponse"
                },
                "examples": {
                  "list_streak": {
                    "value": "{\"dailyStreaks\":[{\"id\":\"203ece27-d868-11ef-824e-338baee5b682\",\"streakType\":\"DAILY\",\"filledDate\":\"2025-01-18\",\"completedQuestCount\":1},{\"id\":\"fa1cf1b5-e3d3-11ef-9c0c-5f1ac1d71b42\",\"streakType\":\"DAILY\",\"filledDate\":\"2025-02-06\",\"completedQuestCount\":1}],\"weeklyStreaks\":[{\"id\":\"febad463-d868-11ef-826f-395aa04e34d3\",\"streakType\":\"WEEKLY\",\"filledDate\":\"2025-01-20\",\"completedQuestCount\":1}],\"monthlyStreaks\":[]}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/surveys": {
      "get": {
        "tags": [
          "Survey"
        ],
        "summary": "설문 목록 조회 API",
        "description": "사용자 정보를 수집하는 설문 목록을 조회합니다.",
        "operationId": "list_survey",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSurveyQuestionResponse"
                },
                "examples": {
                  "list_survey": {
                    "value": "{\"surveyQuestions\":[{\"id\":\"3030e03f-d874-11ef-8c53-0f7e2e2f64c0\",\"questionSelectType\":\"SINGLE\",\"content\":\"직업이 무엇인가요?\",\"surveyItems\":[{\"id\":\"a115056c-d874-11ef-8a6a-454f4733cb7c\",\"content\":\"학생\",\"displayOrder\":1},{\"id\":\"b94a39ed-d874-11ef-b96f-c12f103e5c2c\",\"content\":\"기타\",\"displayOrder\":2}],\"required\":true}]}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Survey"
        ],
        "summary": "설문 답변 등록 API",
        "description": "사용자의 설문 답변을 등록합니다.",
        "operationId": "create_survey_answer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSurveyResultRequest"
              },
              "examples": {
                "create_survey_answer": {
                  "value": "{\"surveyResult\":[{\"surveyQuestionId\":\"3030e03f-d874-11ef-8c53-0f7e2e2f64c0\",\"surveyItemId\":\"a115056c-d874-11ef-8a6a-454f4733cb7c\",\"surveyItemContent\":\"학생\",\"customAnswer\":null},{\"surveyQuestionId\":\"3030e03f-d874-11ef-8c53-0f7e2e2f64c0\",\"surveyItemId\":\"b94a39ed-d874-11ef-b96f-c12f103e5c2c\",\"surveyItemContent\":\"기타\",\"customAnswer\":\"custom answer\"}]}"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "title": "ErrorResponse",
        "required": [
          "code",
          "httpStatus",
          "message",
          "path",
          "timestamp"
        ],
        "type": "object",
        "properties": {
          "path": {
            "type": "string",
            "description": "요청 url"
          },
          "code": {
            "type": "string",
            "description": "에러 코드"
          },
          "httpStatus": {
            "type": "number",
            "description": "http 응답 상태 코드"
          },
          "message": {
            "type": "string",
            "description": "에러 메시지"
          },
          "timestamp": {
            "type": "string",
            "description": "에러 발생 시간"
          }
        }
      },
      "CreateInterestRequest": {
        "title": "CreateInterestRequest",
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "관심사 이름"
          }
        },
        "example": {
          "name": "자바"
        }
      },
      "UpdateInterestRequest": {
        "title": "UpdateInterestRequest",
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "관심사 이름"
          }
        }
      },
      "ListInterestResponse": {
        "title": "ListInterestResponse",
        "required": [
          "interests"
        ],
        "type": "object",
        "properties": {
          "interests": {
            "type": "array",
            "description": "관심사 목록",
            "items": {
              "required": [
                "id",
                "level",
                "logoUrl",
                "name",
                "registrantId",
                "score",
                "scoreThreshold",
                "totalScore"
              ],
              "type": "object",
              "properties": {
                "scoreThreshold": {
                  "type": "number",
                  "description": "현재 레벨의 임계 점수"
                },
                "score": {
                  "type": "number",
                  "description": "현재 점수"
                },
                "level": {
                  "type": "number",
                  "description": "레벨"
                },
                "registrantId": {
                  "type": "string",
                  "description": "사용자 아이디"
                },
                "name": {
                  "type": "string",
                  "description": "관심사 이름"
                },
                "id": {
                  "type": "string",
                  "description": "관심사 아이디"
                },
                "totalScore": {
                  "type": "number",
                  "description": "전체 점수"
                },
                "logoUrl": {
                  "type": "string",
                  "description": "관심사 로고 이미지"
                }
              }
            }
          }
        }
      },
      "UpdateQuestPropertyRequest": {
        "title": "UpdateQuestPropertyRequest",
        "required": [
          "dailyThreshold",
          "monthlyThreshold",
          "weeklyThreshold"
        ],
        "type": "object",
        "properties": {
          "monthlyThreshold": {
            "type": "number",
            "description": "월간 퀘스트 생성 제한 수치"
          },
          "dailyThreshold": {
            "type": "number",
            "description": "일일 퀘스트 생성 제한 수치"
          },
          "weeklyThreshold": {
            "type": "number",
            "description": "주간 퀘스트 생성 제한 수치"
          }
        }
      },
      "InterestNetworkResponse": {
        "title": "InterestNetworkResponse",
        "required": [
          "interests",
          "relations"
        ],
        "type": "object",
        "properties": {
          "relations": {
            "type": "array",
            "description": "관심사 간의 연결 관계 목록",
            "items": {
              "required": [
                "childInterestId",
                "id",
                "parentInterestId",
                "registrantId"
              ],
              "type": "object",
              "properties": {
                "registrantId": {
                  "type": "string",
                  "description": "사용자 아이디"
                },
                "parentInterestId": {
                  "type": "string",
                  "description": "상위 관심사 아이디"
                },
                "id": {
                  "type": "string",
                  "description": "관심사 간선 아이디"
                },
                "childInterestId": {
                  "type": "string",
                  "description": "하위 관심사 아이디"
                }
              }
            }
          },
          "interests": {
            "type": "array",
            "description": "관심사 목록",
            "items": {
              "required": [
                "id",
                "level",
                "logoUrl",
                "name",
                "registrantId",
                "score",
                "scoreThreshold",
                "totalScore"
              ],
              "type": "object",
              "properties": {
                "scoreThreshold": {
                  "type": "number",
                  "description": "현재 레벨의 임계 점수"
                },
                "score": {
                  "type": "number",
                  "description": "현재 점수"
                },
                "level": {
                  "type": "number",
                  "description": "레벨"
                },
                "registrantId": {
                  "type": "string",
                  "description": "사용자 아이디"
                },
                "name": {
                  "type": "string",
                  "description": "관심사 이름"
                },
                "id": {
                  "type": "string",
                  "description": "관심사 아이디"
                },
                "totalScore": {
                  "type": "number",
                  "description": "전체 점수"
                },
                "logoUrl": {
                  "type": "string",
                  "description": "관심사 로고 이미지"
                }
              }
            }
          }
        }
      },
      "CompleteAssignQuestRequest": {
        "title": "CompleteAssignQuestRequest",
        "required": [
          "proof"
        ],
        "type": "object",
        "properties": {
          "proof": {
            "type": "string",
            "description": "퀘스트 증명"
          }
        }
      },
      "ListStreakResponse": {
        "title": "ListStreakResponse",
        "required": [
          "dailyStreaks",
          "monthlyStreaks",
          "weeklyStreaks"
        ],
        "type": "object",
        "properties": {
          "weeklyStreaks": {
            "type": "array",
            "description": "주간 스트릭 목록",
            "items": {
              "required": [
                "completedQuestCount",
                "filledDate",
                "id",
                "streakType"
              ],
              "type": "object",
              "properties": {
                "streakType": {
                  "type": "string",
                  "description": "스트릭 타입"
                },
                "completedQuestCount": {
                  "type": "number",
                  "description": "완료한 퀘스트 개수"
                },
                "id": {
                  "type": "string",
                  "description": "스트릭 아이디"
                },
                "filledDate": {
                  "type": "string",
                  "description": "스트릭 생성 날짜"
                }
              }
            }
          },
          "dailyStreaks": {
            "type": "array",
            "description": "일간 스트릭 목록",
            "items": {
              "required": [
                "completedQuestCount",
                "filledDate",
                "id",
                "streakType"
              ],
              "type": "object",
              "properties": {
                "streakType": {
                  "type": "string",
                  "description": "스트릭 타입"
                },
                "completedQuestCount": {
                  "type": "number",
                  "description": "완료한 퀘스트 개수"
                },
                "id": {
                  "type": "string",
                  "description": "스트릭 아이디"
                },
                "filledDate": {
                  "type": "string",
                  "description": "스트릭 생성 날짜"
                }
              }
            }
          },
          "monthlyStreaks": {
            "type": "array",
            "description": "월간 스트릭 목록",
            "items": {
              "oneOf": [
                {
                  "type": "object"
                },
                {
                  "type": "boolean"
                },
                {
                  "type": "string"
                },
                {
                  "type": "number"
                }
              ]
            }
          }
        }
      },
      "ListAssignQuestResponse": {
        "title": "ListAssignQuestResponse",
        "required": [
          "dailyQuests",
          "monthlyQuests",
          "weeklyQuests"
        ],
        "type": "object",
        "properties": {
          "monthlyQuests": {
            "type": "array",
            "description": "월간 퀘스트 목록",
            "items": {
              "required": [
                "completed",
                "confirmed",
                "content",
                "displayOrder",
                "id",
                "point",
                "proof",
                "questType",
                "score",
                "startDateTime",
                "subjectId",
                "subjectName"
              ],
              "type": "object",
              "properties": {
                "score": {
                  "type": "number",
                  "description": "점수 보상"
                },
                "startDateTime": {
                  "type": "string",
                  "description": "퀘스트 시작일"
                },
                "questType": {
                  "type": "string",
                  "description": "퀘스트 타입: DAILY / WEEKLY / MONTHLY"
                },
                "displayOrder": {
                  "type": "number",
                  "description": "정렬 순서"
                },
                "proof": {
                  "type": "string",
                  "description": "퀘스트 증명"
                },
                "completed": {
                  "type": "boolean",
                  "description": "완료 여부"
                },
                "id": {
                  "type": "string",
                  "description": "할당 퀘스트 아이디"
                },
                "confirmed": {
                  "type": "boolean",
                  "description": "확정 여부"
                },
                "content": {
                  "type": "string",
                  "description": "퀘스트 내용"
                },
                "point": {
                  "type": "number",
                  "description": "포인트 보상"
                },
                "subjectId": {
                  "type": "string",
                  "description": "퀘스트 주제(관심사) 아이디"
                },
                "subjectName": {
                  "type": "string",
                  "description": "퀘스트 주제(관심사) 이름"
                }
              }
            }
          },
          "weeklyQuests": {
            "type": "array",
            "description": "주간 퀘스트 목록",
            "items": {
              "required": [
                "completed",
                "confirmed",
                "content",
                "displayOrder",
                "id",
                "point",
                "proof",
                "questType",
                "score",
                "startDateTime",
                "subjectId",
                "subjectName"
              ],
              "type": "object",
              "properties": {
                "score": {
                  "type": "number",
                  "description": "점수 보상"
                },
                "startDateTime": {
                  "type": "string",
                  "description": "퀘스트 시작일"
                },
                "questType": {
                  "type": "string",
                  "description": "퀘스트 타입: DAILY / WEEKLY / MONTHLY"
                },
                "displayOrder": {
                  "type": "number",
                  "description": "정렬 순서"
                },
                "proof": {
                  "type": "string",
                  "description": "퀘스트 증명"
                },
                "completed": {
                  "type": "boolean",
                  "description": "완료 여부"
                },
                "id": {
                  "type": "string",
                  "description": "할당 퀘스트 아이디"
                },
                "confirmed": {
                  "type": "boolean",
                  "description": "확정 여부"
                },
                "content": {
                  "type": "string",
                  "description": "퀘스트 내용"
                },
                "point": {
                  "type": "number",
                  "description": "포인트 보상"
                },
                "subjectId": {
                  "type": "string",
                  "description": "퀘스트 주제(관심사) 아이디"
                },
                "subjectName": {
                  "type": "string",
                  "description": "퀘스트 주제(관심사) 이름"
                }
              }
            }
          },
          "dailyQuests": {
            "type": "array",
            "description": "일간 퀘스트 목록",
            "items": {
              "required": [
                "completed",
                "confirmed",
                "content",
                "displayOrder",
                "id",
                "point",
                "proof",
                "questType",
                "score",
                "startDateTime",
                "subjectId",
                "subjectName"
              ],
              "type": "object",
              "properties": {
                "score": {
                  "type": "number",
                  "description": "점수 보상"
                },
                "startDateTime": {
                  "type": "string",
                  "description": "퀘스트 시작일"
                },
                "questType": {
                  "type": "string",
                  "description": "퀘스트 타입: DAILY / WEEKLY / MONTHLY"
                },
                "displayOrder": {
                  "type": "number",
                  "description": "정렬 순서"
                },
                "proof": {
                  "type": "string",
                  "description": "퀘스트 증명"
                },
                "completed": {
                  "type": "boolean",
                  "description": "완료 여부"
                },
                "id": {
                  "type": "string",
                  "description": "할당 퀘스트 아이디"
                },
                "confirmed": {
                  "type": "boolean",
                  "description": "확정 여부"
                },
                "content": {
                  "type": "string",
                  "description": "퀘스트 내용"
                },
                "point": {
                  "type": "number",
                  "description": "포인트 보상"
                },
                "subjectId": {
                  "type": "string",
                  "description": "퀘스트 주제(관심사) 아이디"
                },
                "subjectName": {
                  "type": "string",
                  "description": "퀘스트 주제(관심사) 이름"
                }
              }
            }
          }
        }
      },
      "ReadQuestPropertyResponse": {
        "title": "ReadQuestPropertyResponse",
        "required": [
          "dailyThreshold",
          "monthlyThreshold",
          "weeklyThreshold"
        ],
        "type": "object",
        "properties": {
          "monthlyThreshold": {
            "type": "number",
            "description": "월간 퀘스트 생성 제한 수치"
          },
          "dailyThreshold": {
            "type": "number",
            "description": "일일 퀘스트 생성 제한 수치"
          },
          "weeklyThreshold": {
            "type": "number",
            "description": "주간 퀘스트 생성 제한 수치"
          }
        }
      },
      "CreateInterestResponse": {
        "title": "CreateInterestResponse",
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "관심사 아이디: 임의의 고유 식별 문자"
          }
        }
      },
      "CreateMemberRequest": {
        "title": "CreateMemberRequest",
        "required": [
          "email",
          "handle",
          "motto",
          "name",
          "password"
        ],
        "type": "object",
        "properties": {
          "password": {
            "type": "string",
            "description": "비밀번호"
          },
          "name": {
            "type": "string",
            "description": "이름"
          },
          "motto": {
            "type": "string",
            "description": "한 줄 다짐"
          },
          "handle": {
            "type": "string",
            "description": "사용자가 지정한 고유 식별 문자"
          },
          "email": {
            "type": "string",
            "description": "이메일"
          }
        }
      },
      "ListPointResponse": {
        "title": "ListPointResponse",
        "required": [
          "lastElementId",
          "points"
        ],
        "type": "object",
        "properties": {
          "lastElementId": {
            "type": "string",
            "description": "현재 페이지의 마지막 포인트 아이디"
          },
          "points": {
            "type": "array",
            "description": "포인트 목록",
            "items": {
              "required": [
                "amount",
                "description",
                "id",
                "sourceType",
                "transactionDateTime",
                "transactionType"
              ],
              "type": "object",
              "properties": {
                "transactionType": {
                  "type": "string",
                  "description": "거래 타입: GAIN / SPEND"
                },
                "amount": {
                  "type": "number",
                  "description": "포인트 양"
                },
                "transactionDateTime": {
                  "type": "string",
                  "description": "거래 날짜"
                },
                "sourceType": {
                  "type": "string",
                  "description": "발원지: QUEST / ATTENDANCE / STORE / EVENT"
                },
                "description": {
                  "type": "string",
                  "description": "포인트에 대한 설명"
                },
                "id": {
                  "type": "string",
                  "description": "포인트 아이디"
                }
              }
            }
          }
        }
      },
      "LoginMemberRequest": {
        "title": "LoginMemberRequest",
        "required": [
          "email",
          "password"
        ],
        "type": "object",
        "properties": {
          "password": {
            "type": "string",
            "description": "비밀번호"
          },
          "email": {
            "type": "string",
            "description": "이메일"
          }
        }
      },
      "CalendarListAssignQuestResponse": {
        "title": "CalendarListAssignQuestResponse",
        "required": [
          "assignQuests"
        ],
        "type": "object",
        "properties": {
          "assignQuests": {
            "type": "array",
            "description": "할당 퀘스트 목록",
            "items": {
              "required": [
                "completed",
                "content",
                "id",
                "proof",
                "questType",
                "subjectName"
              ],
              "type": "object",
              "properties": {
                "questType": {
                  "type": "string",
                  "description": "퀘스트 타입"
                },
                "completedDateTime": {
                  "type": "string",
                  "description": "완료일 (없을 경우 null)",
                  "nullable": true
                },
                "completed": {
                  "type": "boolean",
                  "description": "완료 여부"
                },
                "proof": {
                  "type": "string",
                  "description": "퀘스트 증명"
                },
                "id": {
                  "type": "string",
                  "description": "할당 퀘스트 아이디"
                },
                "content": {
                  "type": "string",
                  "description": "퀘스트 내용"
                },
                "subjectName": {
                  "type": "string",
                  "description": "주제(관심사) 이름"
                }
              }
            }
          }
        }
      },
      "ReadMemberResponse": {
        "title": "ReadMemberResponse",
        "required": [
          "activateStatus",
          "availablePoints",
          "email",
          "handle",
          "id",
          "loginProvider",
          "motto",
          "name",
          "profileImageUrl",
          "roleType",
          "signUpDateTime",
          "subscriptionPlan"
        ],
        "type": "object",
        "properties": {
          "signUpDateTime": {
            "type": "string",
            "description": "가입 날짜"
          },
          "subscriptionPlan": {
            "type": "string",
            "description": "유료 플랜 등급"
          },
          "name": {
            "type": "string",
            "description": "이름"
          },
          "motto": {
            "type": "string",
            "description": "한 줄 다짐"
          },
          "handle": {
            "type": "string",
            "description": "사용자가 지정한 고유 식별 문자"
          },
          "availablePoints": {
            "type": "number",
            "description": "보유중인 포인트 양"
          },
          "id": {
            "type": "string",
            "description": "임의의 고유 식별 문자"
          },
          "activateStatus": {
            "type": "string",
            "description": "계정 활성화 상태"
          },
          "roleType": {
            "type": "string",
            "description": "사용자 권한"
          },
          "loginProvider": {
            "type": "string",
            "description": "회원가입 시 사용한 방식(EMAIL, GOOGLE)"
          },
          "profileImageUrl": {
            "type": "string",
            "description": "사용자 프로필 이미지의 경로"
          },
          "email": {
            "type": "string",
            "description": "이메일"
          }
        }
      },
      "CreateInterestRelationResponse": {
        "title": "CreateInterestRelationResponse",
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "관심사 간선 아이디"
          }
        }
      },
      "UpdateHandleRequest": {
        "title": "UpdateHandleRequest",
        "required": [
          "handle"
        ],
        "type": "object",
        "properties": {
          "handle": {
            "type": "string",
            "description": "사용자가 지정한 고유 식별 문자"
          }
        }
      },
      "CreateMemberResponse": {
        "title": "CreateMemberResponse",
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "사용자 아이디: 임의의 고유 식별 문자"
          }
        }
      },
      "LoginMemberResponse": {
        "title": "LoginMemberResponse",
        "required": [
          "id",
          "token"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "사용자 아이디: 임의의 고유 식별 문자"
          },
          "token": {
            "type": "string",
            "description": "ACCESS TOKEN: 인가를 위한 JWT Token"
          }
        }
      },
      "UpdateMemberRequest": {
        "title": "UpdateMemberRequest",
        "required": [
          "motto",
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "이름"
          },
          "motto": {
            "type": "string",
            "description": "한 줄 다짐"
          }
        }
      },
      "CreateAssignQuestRequest": {
        "title": "CreateAssignQuestRequest",
        "required": [
          "content",
          "questType",
          "subjectId",
          "subjectName"
        ],
        "type": "object",
        "properties": {
          "questType": {
            "type": "string",
            "description": "퀘스트 타입: DAILY / WEEKLY / MONTHLY"
          },
          "content": {
            "type": "string",
            "description": "퀘스트 내용"
          },
          "subjectId": {
            "type": "string",
            "description": "퀘스트 주제(관심사) 아이디"
          },
          "subjectName": {
            "type": "string",
            "description": "퀘스트 주제(관심사) 이름"
          }
        }
      },
      "UpdateRepeatQuestRequest": {
        "title": "UpdateRepeatQuestRequest",
        "required": [
          "content",
          "questType",
          "subjectId",
          "subjectName"
        ],
        "type": "object",
        "properties": {
          "questType": {
            "type": "string",
            "description": "퀘스트 타입: DAILY / WEEKLY / MONTHLY"
          },
          "content": {
            "type": "string",
            "description": "퀘스트 내용"
          },
          "subjectId": {
            "type": "string",
            "description": "퀘스트 주제(관심사) 아이디"
          },
          "subjectName": {
            "type": "string",
            "description": "퀘스트 주제(관심사) 이름"
          }
        }
      },
      "UpdateAssignQuestRequest": {
        "title": "UpdateAssignQuestRequest",
        "required": [
          "content",
          "questType",
          "subjectId",
          "subjectName"
        ],
        "type": "object",
        "properties": {
          "questType": {
            "type": "string",
            "description": "퀘스트 타입: DAILY / WEEKLY / MONTHLY"
          },
          "content": {
            "type": "string",
            "description": "퀘스트 내용"
          },
          "subjectId": {
            "type": "string",
            "description": "퀘스트 주제(관심사) 아이디"
          },
          "subjectName": {
            "type": "string",
            "description": "퀘스트 주제(관심사) 이름"
          }
        }
      },
      "ReadBalanceResponse": {
        "title": "ReadBalanceResponse",
        "required": [
          "amount"
        ],
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "포인트 잔고"
          }
        }
      },
      "OrderUpdateRepeatQuestRequest": {
        "title": "OrderUpdateRepeatQuestRequest",
        "required": [
          "questType",
          "updatedOrders"
        ],
        "type": "object",
        "properties": {
          "updatedOrders": {
            "type": "array",
            "description": "변경하려는 정렬 순서",
            "items": {
              "oneOf": [
                {
                  "type": "object"
                },
                {
                  "type": "boolean"
                },
                {
                  "type": "string"
                },
                {
                  "type": "number"
                }
              ]
            }
          },
          "questType": {
            "type": "string",
            "description": "퀘스트 타입: DAILY / WEEKLY / MONTHLY"
          }
        }
      },
      "OrderUpdateAssignQuestRequest": {
        "title": "OrderUpdateAssignQuestRequest",
        "required": [
          "questType",
          "updatedOrders"
        ],
        "type": "object",
        "properties": {
          "updatedOrders": {
            "type": "array",
            "description": "변경하려는 정렬 순서",
            "items": {
              "oneOf": [
                {
                  "type": "object"
                },
                {
                  "type": "boolean"
                },
                {
                  "type": "string"
                },
                {
                  "type": "number"
                }
              ]
            }
          },
          "questType": {
            "type": "string",
            "description": "퀘스트 타입: DAILY / WEEKLY / MONTHLY"
          }
        }
      },
      "CreateRepeatQuestRequest": {
        "title": "CreateRepeatQuestRequest",
        "required": [
          "content",
          "questType",
          "subjectId",
          "subjectName"
        ],
        "type": "object",
        "properties": {
          "questType": {
            "type": "string",
            "description": "퀘스트 타입: DAILY / WEEKLY / MONTHLY"
          },
          "content": {
            "type": "string",
            "description": "퀘스트 내용"
          },
          "subjectId": {
            "type": "string",
            "description": "퀘스트 주제(관심사) 아이디"
          },
          "subjectName": {
            "type": "string",
            "description": "퀘스트 주제(관심사) 이름"
          }
        }
      },
      "OrderUpdateMajorInterestRequest": {
        "title": "OrderUpdateMajorInterestRequest",
        "required": [
          "updatedOrders"
        ],
        "type": "object",
        "properties": {
          "updatedOrders": {
            "type": "array",
            "description": "변경하려는 정렬 순서",
            "items": {
              "oneOf": [
                {
                  "type": "object"
                },
                {
                  "type": "boolean"
                },
                {
                  "type": "string"
                },
                {
                  "type": "number"
                }
              ]
            }
          }
        }
      },
      "ReadInterestResponse": {
        "title": "ReadInterestResponse",
        "required": [
          "id",
          "level",
          "logoUrl",
          "name",
          "registrantId",
          "score",
          "scoreThreshold",
          "totalScore"
        ],
        "type": "object",
        "properties": {
          "scoreThreshold": {
            "type": "number",
            "description": "현재 레벨의 임계 점수"
          },
          "score": {
            "type": "number",
            "description": "현재 점수"
          },
          "level": {
            "type": "number",
            "description": "레벨"
          },
          "registrantId": {
            "type": "string",
            "description": "등록자 아이디"
          },
          "name": {
            "type": "string",
            "description": "관심사 이름"
          },
          "id": {
            "type": "string",
            "description": "관심사 아이디"
          },
          "totalScore": {
            "type": "number",
            "description": "전체 점수"
          },
          "logoUrl": {
            "type": "string",
            "description": "로고 이미지"
          }
        }
      },
      "UpdatePasswordRequest": {
        "title": "UpdatePasswordRequest",
        "required": [
          "originPassword",
          "updatedPassword"
        ],
        "type": "object",
        "properties": {
          "updatedPassword": {
            "type": "string",
            "description": "새 비밀번호"
          },
          "originPassword": {
            "type": "string",
            "description": "기존 비밀번호"
          }
        }
      },
      "CreateEmailAuthCodeRequest": {
        "title": "CreateEmailAuthCodeRequest",
        "required": [
          "email"
        ],
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "이메일"
          }
        }
      },
      "CreateInterestRelationRequest": {
        "title": "CreateInterestRelationRequest",
        "required": [
          "childInterestId",
          "parentInterestId"
        ],
        "type": "object",
        "properties": {
          "parentInterestId": {
            "type": "string",
            "description": "상위 관심사 아이디"
          },
          "childInterestId": {
            "type": "string",
            "description": "하위 관심사 아이디"
          }
        }
      },
      "ListRepeatQuestResponse": {
        "title": "ListRepeatQuestResponse",
        "required": [
          "dailyQuests",
          "monthlyQuests",
          "weeklyQuests"
        ],
        "type": "object",
        "properties": {
          "monthlyQuests": {
            "type": "array",
            "description": "월간 퀘스트 목록",
            "items": {
              "oneOf": [
                {
                  "type": "object"
                },
                {
                  "type": "boolean"
                },
                {
                  "type": "string"
                },
                {
                  "type": "number"
                }
              ]
            }
          },
          "weeklyQuests": {
            "type": "array",
            "description": "주간 퀘스트 목록",
            "items": {
              "oneOf": [
                {
                  "type": "object"
                },
                {
                  "type": "boolean"
                },
                {
                  "type": "string"
                },
                {
                  "type": "number"
                }
              ]
            }
          },
          "dailyQuests": {
            "type": "array",
            "description": "일간 퀘스트 목록",
            "items": {
              "required": [
                "content",
                "displayOrder",
                "id",
                "point",
                "questType",
                "score",
                "subjectId",
                "subjectName"
              ],
              "type": "object",
              "properties": {
                "score": {
                  "type": "number",
                  "description": "점수 보상"
                },
                "questType": {
                  "type": "string",
                  "description": "퀘스트 타입: DAILY / WEEKLY / MONTHLY"
                },
                "displayOrder": {
                  "type": "number",
                  "description": "정렬 순서"
                },
                "id": {
                  "type": "string",
                  "description": "반복 퀘스트 아이디"
                },
                "content": {
                  "type": "string",
                  "description": "퀘스트 내용"
                },
                "point": {
                  "type": "number",
                  "description": "포인트 보상"
                },
                "subjectId": {
                  "type": "string",
                  "description": "퀘스트 주제(관심사) 아이디"
                },
                "subjectName": {
                  "type": "string",
                  "description": "퀘스트 주제(관심사) 이름"
                }
              }
            }
          }
        }
      },
      "CreateAssignQuestResponse": {
        "title": "CreateAssignQuestResponse",
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "할당 퀘스트 아이디"
          }
        }
      },
      "CreateSurveyResultRequest": {
        "title": "CreateSurveyResultRequest",
        "required": [
          "surveyResult"
        ],
        "type": "object",
        "properties": {
          "surveyResult": {
            "type": "array",
            "description": "설문 결과 목록",
            "items": {
              "required": [
                "surveyItemContent",
                "surveyItemId",
                "surveyQuestionId"
              ],
              "type": "object",
              "properties": {
                "surveyQuestionId": {
                  "type": "string",
                  "description": "설문 문항"
                },
                "surveyItemId": {
                  "type": "string",
                  "description": "선택한 항목"
                },
                "surveyItemContent": {
                  "type": "string",
                  "description": "설문 항목 내용"
                },
                "customAnswer": {
                  "type": "string",
                  "description": "사용자가 입력한 내용",
                  "nullable": true
                }
              }
            }
          }
        }
      },
      "CreateMajorInterestResponse": {
        "title": "CreateMajorInterestResponse",
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "주요 관심사 아이디"
          }
        }
      },
      "ListMajorInterestResponse": {
        "title": "ListMajorInterestResponse",
        "required": [
          "majorInterests"
        ],
        "type": "object",
        "properties": {
          "majorInterests": {
            "type": "array",
            "description": "주요 관심사 목록",
            "items": {
              "required": [
                "displayOrder",
                "id",
                "level",
                "logoUrl",
                "name",
                "score",
                "scoreThreshold"
              ],
              "type": "object",
              "properties": {
                "scoreThreshold": {
                  "type": "number",
                  "description": "현재 레벨의 임계 점수"
                },
                "score": {
                  "type": "number",
                  "description": "현재 점수"
                },
                "level": {
                  "type": "number",
                  "description": "레벨"
                },
                "displayOrder": {
                  "type": "number",
                  "description": "정렬 순서"
                },
                "name": {
                  "type": "string",
                  "description": "관심사 이름"
                },
                "id": {
                  "type": "string",
                  "description": "주요 관심사 아이디"
                },
                "logoUrl": {
                  "type": "string",
                  "description": "관심사 로고 이미지"
                }
              }
            }
          }
        }
      },
      "ListSurveyQuestionResponse": {
        "title": "ListSurveyQuestionResponse",
        "required": [
          "surveyQuestions"
        ],
        "type": "object",
        "properties": {
          "surveyQuestions": {
            "type": "array",
            "description": "문항 목록",
            "items": {
              "required": [
                "content",
                "id",
                "questionSelectType",
                "required",
                "surveyItems"
              ],
              "type": "object",
              "properties": {
                "questionSelectType": {
                  "type": "string",
                  "description": "선택 타입: SINGLE / MULTIPLE"
                },
                "id": {
                  "type": "string",
                  "description": "문항 아이디"
                },
                "surveyItems": {
                  "type": "array",
                  "description": "선택지 목록",
                  "items": {
                    "required": [
                      "content",
                      "displayOrder",
                      "id"
                    ],
                    "type": "object",
                    "properties": {
                      "displayOrder": {
                        "type": "number",
                        "description": "선택지 정렬 순서"
                      },
                      "id": {
                        "type": "string",
                        "description": "선택지 아이디"
                      },
                      "content": {
                        "type": "string",
                        "description": "선택지 내용"
                      }
                    }
                  }
                },
                "content": {
                  "type": "string",
                  "description": "문항 내용"
                },
                "required": {
                  "type": "boolean",
                  "description": "필수 여부"
[...]
